// @import url(../sass/base/_base.scss);

@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/header";
@import "layout/grid";
@import "layout/grid--floats";

@import "pages/home";

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  background-color: beige;
  position: relative;
}

.toggle {
  width: 100%;
  position: fixed;

  &__input {
    display: none;
  }

  &--size {
    width: 6rem;
    height: 6rem;
    position: absolute;
    right: 5rem;
    top: 5rem;
    border-radius: 50%;
  }

  &__button {
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 1.5rem -.5rem rgba($color-black, .4);

    span {
      width: 2.85rem;
      height: 0.2rem;
      background: $color-black;

      &::before,
      &::after {
        content: "";
        width: inherit;
        height: inherit;
        background-color: $color-black;
        position: absolute;
        transition: all 0.2s;
      }

      &::before {
        top: 38%;
      }

      &::after {
        bottom: 38%;
      }
    }
  }

  &__background {
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    transform: scale(1);
    transition: all .55s ease-in-out;
  }

  &__button:hover span::before {
    top: 35%;
  }
  &__button:hover span::after {
    bottom: 35%;
  }
  &__input:checked ~ &__button span {
    background-color: transparent;
  }
  &__input:checked ~ &__button span::before {
    // top: 3rem;
    top: 50%;
    transform: rotate(135deg);
  }
  &__input:checked ~ &__button span::after {
    // bottom: 2.75rem;
    top: 50%;
    transform: rotate(-135deg);
  }
  &__input:checked ~ &__background {
    transform: scale(60);
  }
}
