.app {
  min-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

// If app is empty - add this class to ".app"
.app-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__text {
    font-size: $fs-heading-large;
    color: $cl-medium-grey;
    margin-bottom: 2.4rem;
  }
}
