// If app is empty - add this class to ".app"
.app-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__text {
    font-size: $fs-heading-large;
    color: $cl-medium-grey;
    margin-bottom: 2.4rem;
  }
}

.board {
  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
  }
  &__color {
    width: 1.5rem;
    height: 1.5rem;
    // Color will be generated randomly later on
    background-color: #49c4e5;
    border-radius: 50%;
    display: block;
  }
  &__name {
    text-transform: uppercase;
    font-size: $fs-heading-small;
    font-weight: 600;
    color: $cl-medium-grey;
    letter-spacing: 0.25rem;
  }
  &__num-tasks {
  }

  &__add {
    &-btn {
      flex-shrink: 0;
      width: 28rem;
      height: 100%;
      background-color: $cl-linear;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
      font-size: $fs-heading-xl;
      color: $cl-medium-grey;
      font-weight: 500;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;

      .icon {
      }
    }
  }
}
