body {
  width: 100%;
  font-size: 1.2rem;
  line-height: $lh-small;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.main {
  display: flex;
  width: 100%;
  height: 100vh;
}

.platform {
  width: 100%;
  height: inherit;
  background-color: $cl-light-grey;
  overflow: hidden;

  position: relative;
}

.app {
  width: 100%;
  height: 100%;
}

.board {
  flex-shrink: 0;
  width: 28rem;
  height: auto;
}

.columns {
  width: 100%;
  height: 100%;
  padding: 2.5rem;

  display: flex;
  gap: 2rem;
  overflow: scroll;
}
