.navigation {
  width: 30rem;
  height: inherit;
  background-color: $cl-white;
  border-right: 2px solid $cl-secondary;

  .logo {
    padding: 2.75rem 3rem;
  }

  &__body {
    background-color: $cl-white;
    // height: in JS file;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;

    .boards {
      margin-top: 1.5rem;
      width: 85%;
      display: flex;
      flex-direction: column;

      &__title {
        font-size: 1rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        color: $cl-medium-grey;
        padding: 0 2.4rem;
        margin-bottom: 2rem;
      }

      &__icon {
        width: 1.8rem;
        height: 1.8rem;
      }
    }
  }

  &__footer {
    .theme {
      background-color: $cl-light-grey;
      padding: 1.35rem 0;
      margin: 0 2rem;
      border-radius: 0.5rem;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;

      &__icon {
        width: 1.65rem;
        height: 1.65rem;
      }

      &__label {
        cursor: pointer;
      }

      &__input {
        display: none;

        &:checked + .change-checkbox::after {
          // formula: width of parent (4rem) - 5% (pos-left) of it - width of circle(1.6rem)
          left: 2.2rem;
        }
      }

      .change-checkbox {
        width: 4rem;
        height: 2rem;
        border-radius: 2rem;
        background-color: $cl-primary;
        position: relative;
        cursor: pointer;
        transition: all 0.25s ease;

        &::after {
          content: "";
          position: absolute;
          top: 10%;
          left: 5%;
          height: 1.6rem;
          width: 1.6rem;
          border-radius: 50%;
          background-color: $cl-white;
          transition: all 0.25s ease;
        }
      }
    }

    .hide-sidebar {
      width: 100%;
      margin: 3rem 2rem;
      color: $cl-medium-grey;

      display: flex;
      align-items: center;
      gap: 1.25rem;

      &__icon {
        width: 1.6rem;
        height: 1.6rem;
      }

      &__btn {
        font-size: $fs-heading-medium;
        background-color: transparent;
        border: none;
        color: inherit;
        cursor: pointer;
      }
    }
  }
}
