// @import url(../sass/base/_base.scss);

@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/header";
@import "layout/grid";
@import "layout/grid--floats";

@import "pages/home";

body {
  height: 100vh;
  width: 100%;

  // display: flex;
  // align-items: center;
  // justify-content: center;
  background-color: #ddd;
}

.codepen-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1.5rem;
  width: 100rem;
  height: 60rem;
  background-color: red;
  margin: 10rem auto;
  position: relative;
}

.codepen {
  &__card {
    width: auto;
    height: 30rem;
    // background-color: blue;
    position: relative;

    &--1 {
      width: 100%;
      height: inherit;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: yellow;
      border-radius: 1rem;
      transition: all .2s ease;
    }
  }

  &__background {
    position: absolute;
    background-color: #fff;
    width: 30rem;
    height: 20rem;
    border-radius: 1rem;
    // right: calc(100% - 2rem);
    left: 2.3333rem;
    bottom: 10rem;
    transition: all .2s ease;
  }

  &__card:hover > &__card--1 {
    // width: 105%;
    width: calc(100% + 2.3333rem);
    height: 32rem;
  }

  &__card:hover &__background {
    right: 2.3333rem;
  }
}
