*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #777; }

body {
  background: linear-gradient(to bottom, #4678f3, #64d6ee);
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.option-row {
  width: 40rem;
  height: 15rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  gap: 1rem; }

.radio-button {
  background-color: rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 3rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  position: relative;
  opacity: 0.5;
  cursor: pointer;
  transition: all 1s ease;
  flex-grow: 1; }
  .radio-button__input {
    display: none; }
  .radio-button__btn {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #64d6ee;
    border-radius: 50%;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem; }
    .radio-button__btn::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #64d6ee;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.5s ease; }
  .radio-button__number-group {
    color: #000;
    width: 100%;
    position: relative; }
    .radio-button__number-group::after {
      content: "";
      display: inline-block;
      height: 0.5rem;
      width: 20%;
      position: absolute;
      bottom: -1rem;
      left: 0;
      background-color: aqua;
      transition: all 0.5s ease; }
  .radio-button__number {
    font-size: 4.8rem;
    font-weight: 700;
    display: inline-block;
    margin-right: 0.5rem;
    transition: all 0.3s ease; }
  .radio-button__size {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.3s ease; }
  .radio-button__input:checked + .radio-button {
    flex-grow: 4;
    opacity: 1; }
    .radio-button__input:checked + .radio-button .radio-button__btn::after {
      opacity: 1; }
    .radio-button__input:checked + .radio-button .radio-button__number-group::after {
      width: 100%; }
    .radio-button__input:checked + .radio-button .radio-button__number {
      font-size: 6.8rem; }
    .radio-button__input:checked + .radio-button .radio-button__size {
      font-size: 2.6rem; }
