*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #777; }

body {
  background: linear-gradient(to bottom, #4678F3, #64D6EE);
  min-height: 100vh; }

.option-row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  height: 15rem;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  gap: 1rem; }

.radio-button {
  background-color: #fff;
  padding: 3rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  position: relative; }
  .radio-button__input {
    display: none; }
  .radio-button__btn {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #64D6EE;
    border-radius: 50%;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem; }
    .radio-button__btn::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #64D6EE;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      opacity: 0; }
  .radio-button__number-group {
    color: #000;
    width: 100%;
    position: relative; }
    .radio-button__number-group::after {
      content: "";
      display: inline-block;
      height: .5rem;
      width: 100%;
      position: absolute;
      bottom: -1rem;
      left: 0;
      background-color: aqua; }
  .radio-button__number {
    font-size: 4.8rem;
    font-weight: 700;
    display: inline-block;
    margin-right: .5rem; }
  .radio-button__size {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700; }
  .radio-button--1 {
    flex-grow: 1; }
  .radio-button--2 {
    flex-grow: 1; }
