// @import url(../sass/base/_base.scss);

@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";
@import "abstract/_gradients";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/header";
@import "layout/grid";
@import "layout/grid--floats";

@import "pages/home";

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --c-gray-900: #000000;
  --c-gray-800: #1f1f1f;
  --c-gray-700: #2e2e2e;
  --c-gray-600: #313131;
  --c-gray-500: #969593;
  --c-gray-400: #a6a6a6;
  --c-gray-300: #bdbbb7;
  --c-gray-200: #f1f1f1;
  --c-gray-100: #ffffff;

  --c-green-500: #45ffbc;
  --c-olive-500: #e3ffa8;

  --c-white: var(--c-gray-100);

  --c-text-primary: var(--c-gray-100);
  --c-text-secondary: var(--c-gray-200);
  --c-text-tertiary: var(--c-gray-500);
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--c-gray-900);
  color: var(--c-text-primary);
  padding-top: 0.5vw;
  padding-bottom: 3vw;
  justify-content: center;
  background-color: #1f1f1f;
}
// BUILDING HEADER
.dashboard {
  background-color: #1f1f1f;
  width: 100%;
  max-width: 160rem;
  padding: 0 4vw 4vw;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: grid;
  grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
      max-content,
      400px
    );
  align-items: flex-end;
  column-gap: 6rem;
  width: 95%;
}

.header-logo {
  // background-color: yellowgreen;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1.6rem 0;
  border-bottom: 1px solid var(--c-gray-600);
  cursor: pointer;

  &-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  &-title {
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 300;

    span:first-child {
      color: var(--c-text-primary);
    }

    span:not(:first-child) {
      color: var(--c-text-tertiary);
    }
  }
}

.header-navigation {
  border-bottom: 1px solid var(--c-gray-600);
  display: flex;
  justify-content: space-between;

  a:link,
  a:visited {
    text-decoration: none;
    color: var(--c-text-tertiary);
    padding: 1.6rem 0.35rem;
    border: 1px solid transparent;
    transition: border 0.25s ease-in-out;
    display: inline-block;
  }

  a:link:nth-child(2) {
    border-top: 2px solid var(--c-gray-200);
  }

  a:hover,
  a:active {
    border: 1px solid var(--c-gray-200);
  }
}

.header-activity {
  display: flex;

  &__author {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 0.5rem;
    border: 1px solid transparent;
    transition: border 0.25s ease-in-out;

    &:hover {
      border: 1px solid var(--c-gray-200);
    }

    span:first-child {
      font-size: 1.8rem;
      color: var(--c-text-tertiary);
      font-weight: 300;
      padding: 1.6rem 0;
      border-bottom: 1px solid var(--c-gray-600);
      display: flex;
    }

    span:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1.5rem;

      img {
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
      }
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 4rem;
    padding-left: 4rem;
    border-left: 1px solid var(--c-gray-600);
  }
}

//ICON STYLE
.icon {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;

  &-button {
    width: 4.2rem;
    height: 4.2rem;
    border: 1px solid var(--c-gray-500);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 5px var(--c-gray-800), 0 0 0 6px var(--c-gray-500);
      background-color: var(--c-gray-700);
    }
  }
}

//BODY LAYOUT
.app {
  width: inherit;
  display: grid;
  grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
      max-content,
      400px
    );
  column-gap: 6rem;
  margin-top: 5rem;
}
//BUILDING NAVBAR
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: var(--c-text-tertiary);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.35rem 0.25rem;
    border: 2px solid transparent;
    transition: all 0.2s ease-in;
  }

  &__link:hover,
  &__link:active {
    transform: translateX(0.75rem);
    color: var(--c-text-primary);
  }

  &__link:focus {
    border: 2px solid var(--c-gray-200);
    transform: translateX(0.75rem);
    color: var(--c-text-primary);
  }

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}

//BUILDING BODY
.body {
  margin-top: 0.35rem;
}

//BUILDING FORM
.title {
  font-size: 2.2rem;
  font-weight: 400;
}

.app-form {
  display: flex;
  gap: 2rem;
  margin-top: 2.5rem;

  &__button {
    flex: 0 0 16%;
    background-color: var(--c-gray-700);
    border: none;
    outline: none;
    border-radius: 1rem;
    color: var(--c-text-primary);
    font-size: 1.6rem;
    font-family: "Be Vietnam Pro", sans-serif;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.2s ease;

    &:hover {
      border: 2px solid var(--c-gray-300);
    }
  }
}

.account-search {
  flex: 1;
  display: flex;
  align-items: flex-start;
  border: 2px solid transparent;
  border-bottom: 1px solid var(--c-gray-600);

  &__icon {
    width: 1.8rem;
    height: 1.8rem;
    padding-top: 1rem;
    align-self: flex-end;
    padding-bottom: 1.25rem;
    cursor: pointer;
  }
  &__input-search {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 1rem 1.25rem;
    color: var(--c-gray-300);
    cursor: pointer;

    &::placeholder {
      font-size: 1.6rem;
      font-family: "Be Vietnam Pro", sans-serif;
      padding-left: 0.25rem;
    }
  }
}

.dropdown-field {
  flex: 0 0 25%;

  select {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--c-gray-600);
    background-color: transparent;
    font-size: 1.6rem;
    color: var(--c-gray-300);

    option {
      color: var(--c-text-tertiary);
    }
  }
}

//BUILDING CARDS
.service-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.6rem;
  margin-top: 2.25rem;
}

.card {
  padding: 1.35rem 1.75rem;
  min-height: 20rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.25s ease;

  &:hover {
    transform: translateY(-0.5rem);
  }

  &--1 {
    background-color: var(--c-olive-500);

    &:active {
      box-shadow: 0 0 0 3px var(--c-gray-800), 0 0 0 5px var(--c-olive-500);
    }
  }

  &--2 {
    background-color: var(--c-green-500);

    &:active {
      box-shadow: 0 0 0 3px var(--c-gray-800), 0 0 0 5px var(--c-green-500);
    }
  }

  &--3 {
    background-color: var(--c-gray-300);

    &:active {
      box-shadow: 0 0 0 3px var(--c-gray-800), 0 0 0 5px var(--c-gray-300);
    }
  }
}

.card__top {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--c-gray-600);

  &--icon {
    width: 3.75rem;
    height: 3.75rem;
  }
  &--text-group {
  }
  &--title {
    font-size: 1.6rem;
    font-weight: 600;
  }
  &--subtitle {
    font-size: 1.3rem;
    font-weight: 300;
  }
}

.card__bottom {
  color: var(--c-gray-700);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--text {
    display: flex;
    font-weight: 600;
    font-size: 1.7rem;
  }
  &--icon {
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    cursor: pointer;

    &-span {
      width: 3.25rem;
      height: 3.25rem;
      border: 1px solid var(--c-gray-700);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
}

//BUILDING NOTICE CARD
.notice-text {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  span {
    font-size: 1.6rem;
    color: var(--c-gray-400);
  }
}

//BUILDING TRANSFER SECTION
.transfer {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--c-gray-600);
  margin-top: 4rem;

  &--text {
    flex: 0 1 40%;
    border-right: 1px solid var(--c-gray-600);
  }

  &--filter {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 3rem;

    span {
      color: var(--c-gray-300);
      font-size: 1.4rem;
      display: flex;
    }
  }

  &--icons {
    display: flex;
    gap: 1.25rem;

    .icon {
      width: 1.8rem;
      height: 1.8rem;
      color: var(--c-text-primary);

      &-button {
        width: 3rem;
        height: 3rem;
      }
    }
  }
}

//BUILDING PAYMENT DETAILS SECTION
// .details {
//   width: 100%;
//   background-color: pink;
//   display: grid;
//   grid-template-columns: repeat(5, 1fr);


//   .logo {
//     width: 2rem;
//     height: 2rem;
//     background-color: yellow;
//   }
// }

// .span-white {
//   color: var(--c-text-primary);
// }

// .span-gray {
//   color: var(--c-gray-300);
// }