// @import url(../sass/base/_base.scss);

@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";
@import "abstract/_gradients";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/header";
@import "layout/grid";
@import "layout/grid--floats";

@import "pages/home";

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --c-gray-900: #000000;
  --c-gray-800: #1f1f1f;
  --c-gray-700: #2e2e2e;
  --c-gray-600: #313131;
  --c-gray-500: #969593;
  --c-gray-400: #a6a6a6;
  --c-gray-300: #bdbbb7;
  --c-gray-200: #f1f1f1;
  --c-gray-100: #ffffff;

  --c-green-500: #45ffbc;
  --c-olive-500: #e3ffa8;

  --c-white: var(--c-gray-100);

  --c-text-primary: var(--c-gray-100);
  --c-text-secondary: var(--c-gray-200);
  --c-text-tertiary: var(--c-gray-500);
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--c-gray-900);
  color: var(--c-text-primary);
  padding-top: 3vw;
  padding-bottom: 3vw;
  justify-content: center;
  background-color: #1f1f1f;
}

.dashboard {
  background-color: #1f1f1f;
  width: 95%;
  min-height: 80vh;
  max-width: 160rem;
  padding: 2vw 4vw 6vw;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: grid;
  grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(
      max-content,
      400px
    );
  align-items: flex-end;
  column-gap: 4rem;
}

.header-logo {
  // background-color: yellowgreen;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1.6rem 0;
  border-bottom: 1px solid var(--c-gray-600);
  cursor: pointer;

  &-icon {
    width: 3.2rem;
    height: 3.2rem;
  }

  &-title {
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 300;

    span:first-child {
      color: var(--c-text-primary);
    }

    span:not(:first-child) {
      color: var(--c-text-tertiary);
    }
  }
}

.header-navigation {
  border-bottom: 1px solid var(--c-gray-600);
  display: flex;
  justify-content: space-between;

  a:link,
  a:visited {
    text-decoration: none;
    color: var(--c-text-tertiary);
    padding: 1.6rem 0.35rem;
    border: 1px solid transparent;
    transition: border .25s ease-in-out;
    display: inline-block;
  }

  a:hover,
  a:active {
    border: 1px solid var(--c-gray-200);
  }

  .hover-on {
    border-top: 2px solid var(--c-gray-200) !important;
  }
}

.header-activity {
  display: flex;

  &__author {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 0.5rem;
    border: 1px solid transparent;
    transition: border .25s ease-in-out;


    &:hover {
      border: 1px solid var(--c-gray-200);
    }

    span:first-child {
      font-size: 1.8rem;
      color: var(--c-text-tertiary);
      font-weight: 300;
      padding: 1.6rem 0;
      border-bottom: 1px solid var(--c-gray-600);
      display: flex;
    }

    span:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1.5rem;

      img {
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%;
      }
    }
  }
  &__icons {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 4rem;
    padding-left: 4rem;
    border-left: 1px solid var(--c-gray-600);

    .icon {
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;

      &-button {
        width: 4.2rem;
        height: 4.2rem;
        border: 1px solid var(--c-gray-500);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: box-shadow .2s ease-in-out;

        &:hover {
          box-shadow: 0 0 0 5px var(--c-gray-800),
                      0 0 0 6px var(--c-gray-500);
        }
      }
    }
  }
}
