// @import url(../sass/base/_base.scss);

@import "abstract/mixins";

@import "base/base";
@import "base/typography";

body {
  max-width: 100vw;
  min-height: 100vh;
  color: rgb(92, 90, 90);
  background-color: #ddd;
}

.slider-container {
  max-width: 50%;
  height: 16rem;
  border-radius: 0.5rem;
  background-color: #fff;
  position: relative;

  //Help create functionality of the slider
  overflow: hidden;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;

  //Help create functionality of the slider
  // transform: translateY(200%);
}

.card {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  padding: 3rem;

  &__figure {
    span {
      width: 10rem;
      height: 10rem;
      display: block;
    }

    &--1 {
      background-color: lightblue;
    }
    &--2 {
      background-color: rgb(161, 7, 7);
    }
    &--3 {
      background-color: darkolivegreen;
    }
  }

  &__content {
    // width: 100%;

    p {
      line-height: 1.1;
      color: rgb(136, 135, 135);
    }
    span {
      display: block;
      margin-top: 1rem;
      font-size: 1.8rem;
      font-weight: 700;
      font-style: italic;
    }
  }
}

.buttons {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.btn {
  border: none;
  background: none;
  outline: none;
  padding: 1rem;
  background-color: #eee;
  cursor: pointer;
  text-transform: uppercase;

  &:last-child {
    margin-left: 1rem;
  }
}
