// @import url(../sass/base/_base.scss);

@import "abstract/mixins";

@import "base/base";
@import "base/typography";

body {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: rgb(233, 223, 202);
}

.container {
  width: 80%;
  height: auto;
  // background-color: yellowgreen;
  margin-top: -40rem;
}

.nav {
  // background-color: yellow;
  border-bottom: 1px solid black;

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    list-style: none;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1.8rem 0;

    &--active {
      border-bottom: 2px solid black;
    }
  }

  &__btn {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.8rem;
    color: rgb(79, 79, 79);
    font-weight: 500;
    cursor: pointer;

    &--active {
      color: #000;
    }
  }
}

.content {
  margin-top: 5rem;
  position: relative;

  &__wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;

    position: absolute;
    top: 0;
    left: 0;

    &--active {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__body {
    p {
      max-width: 75%;
      line-height: 1.5;
      letter-spacing: 0.35px;
      font-size: 1.5rem;
    }
  }

  &__btn {
    background-color: #000;
    border: none;
    outline: none;
    padding: 2rem 4.5rem;
    color: #fff;
    font-size: inherit;
    font-weight: 500;
    margin-top: 2rem;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: rgba(21, 21, 21, 0.7);
    }
  }

  &__img {
    .img {
      display: block;
      max-width: 100%;
    }
  }
}
