*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #eee; }

body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  line-height: 1;
  position: relative; }

.btn--style {
  background-color: none;
  padding: 1.5rem;
  border: 1px solid #d47b15;
  border-radius: 1rem;
  display: block;
  background-color: aquamarine;
  font-size: 1.6rem;
  cursor: pointer; }

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  max-width: 70%;
  height: auto;
  padding: 6rem;
  line-height: 1.35;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10; }
  .modal > * {
    font-size: 1.6rem;
    color: #000; }
  .modal h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center; }
  .modal .close-modal {
    position: absolute;
    right: 2rem;
    top: 1.2rem;
    line-height: 1;
    font-size: 4rem;
    background-color: transparent;
    border: none;
    cursor: pointer; }

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5; }

.hidden {
  display: none; }
