@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #eee; }

body {
  background: linear-gradient(to right, #3fb6a8, #7ed386);
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #070707;
  font-size: 1.6rem; }

.container {
  width: 60rem;
  height: 45rem;
  background-color: #fff;
  display: flex; }

.nav {
  flex-basis: 15%;
  transform: translateY(-2rem);
  margin-left: 3rem; }
  .nav__list {
    list-style-type: none;
    background-color: #7ed386;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .nav__item {
    padding: 3.75rem 3rem;
    cursor: pointer; }
    .nav__item:hover .nav__icon {
      transform: scale(1.25);
      color: #3fb6a8; }
  .nav__icon {
    width: 2.2rem;
    height: 2.2rem;
    transition: all 0.25s ease;
    color: #fff; }

.info {
  flex: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column; }

.promo > * {
  position: absolute;
  cursor: pointer; }

.promo__logo {
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: "Nunito Sans", sans-serif;
  color: #3dbb3d; }

.promo__amount {
  padding: 1rem;
  background-color: #7ed386;
  font-size: 1.6rem;
  font-weight: 700;
  transform: rotate(-90deg);
  right: -2.05rem;
  bottom: 10rem;
  color: #fff;
  transition: all 0.35s ease-in; }
  .promo__amount:hover {
    transform: rotate(0) scale(1.15);
    background-color: #3fb6a8; }

.screen {
  height: 100%;
  padding: 4.5rem 4rem 0 4.5rem;
  transition: all 0.5s ease-in; }
  .screen--title {
    color: #7ed386;
    font-size: 1.8rem;
    margin-bottom: 3.5rem; }
  .screen__form {
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .screen__form--subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #777777;
    letter-spacing: 0.5px;
    font-weight: 900;
    text-transform: uppercase; }
  .screen__label {
    width: 85%;
    border-bottom: 1px solid #7ed386; }
    .screen__label button {
      cursor: pointer;
      background-color: #dddddd;
      color: #3fb6a8;
      padding: 0.5rem;
      border: none; }
      .screen__label button:focus, .screen__label button:hover {
        background-color: rgba(235, 225, 225, 0.85); }
  .screen__input {
    background: transparent;
    outline: none;
    border: none;
    padding: 0.5rem 0;
    margin-top: 1rem; }
    .screen__input::placeholder {
      font-size: 1.2rem;
      font-family: inherit; }

.input--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between; }
