@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #eee; }

body {
  background: linear-gradient(to right, #3fb6a8, #7ed386);
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  width: 60rem;
  height: 45rem;
  background-color: #fff;
  display: flex; }

.nav {
  flex-basis: 15%;
  transform: translateY(-1.75rem);
  margin-left: 3rem; }
  .nav__list {
    list-style-type: none;
    background-color: #7ed386;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .nav__item {
    padding: 3.75rem 3rem;
    cursor: pointer; }
    .nav__item:hover .nav__icon {
      transform: scale(1.25);
      color: #3fb6a8; }
  .nav__icon {
    width: 2rem;
    height: 2rem;
    transition: all 0.25s ease; }

.info {
  flex: 1;
  background-color: red;
  margin: 3rem 4rem; }
