// example of a MIXIN
// @mixin clearfix {
//   &::after {
//     content: "";
//     display: table;
//     clear: both;
//   }
// }

@mixin flexbox-sp-btw{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
