*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

.p-medium {
  font-size: 1.3rem;
  line-height: 1.65rem; }

.p-bold {
  font-size: 1.2rem;
  line-height: 1.25rem; }

.app-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .app-empty__text {
    font-size: 1.6rem;
    color: #828fa3;
    margin-bottom: 2.4rem; }

.board__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem; }

.board__color {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #49c4e5;
  border-radius: 50%;
  display: block; }

.board__name {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: #828fa3;
  letter-spacing: 0.25rem; }

.board__add-btn {
  flex-shrink: 0;
  width: 28rem;
  height: 100%;
  background-color: #e9effa;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 2rem;
  color: #828fa3;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; }

.task__list {
  list-style: none; }

.task__item {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 2.5rem 0 2.25rem 1.85rem;
  margin-top: 2rem;
  border-radius: 0.75rem;
  box-shadow: 0 0.4rem 0.6rem rgba(54, 78, 126, 0.1); }

.task__btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 1rem; }
  .task__btn span {
    font-size: 1.4rem;
    color: #000112;
    font-weight: 500; }

.task__subtasks {
  font-size: 1.2rem;
  font-weight: 500;
  color: #828fa3; }

.add-btn {
  padding: 0.75rem 1.25rem;
  background-color: #635fc7;
  border: none;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.35rem;
  cursor: pointer;
  transition: background-color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .add-btn:hover {
    background-color: rgba(99, 95, 199, 0.25); }
  .add-btn .icon {
    color: #fff; }
  .add-btn span {
    font-size: 1.4rem;
    color: #fff; }

.dots-btn {
  padding: 0.25rem;
  background-color: transparent;
  border: none;
  cursor: pointer; }
  .dots-btn .icon {
    width: 1.75rem;
    height: 1.75rem; }

.boards__btn {
  width: 100%;
  padding: 1rem 2.4rem;
  background: transparent;
  border: none;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  font-size: 1.4rem;
  color: #828fa3;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem; }
  .boards__btn:hover {
    background-color: #635fc7;
    color: #fff; }

.boards__add-btn {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  padding: 0 2.4rem;
  margin-top: 1.6rem;
  background-color: transparent;
  font-size: 1.4rem;
  color: #635fc7;
  border: none;
  cursor: pointer; }
  .boards__add-btn .icon {
    width: 1.25rem;
    height: 1.25rem; }

body {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.25rem;
  font-family: "Plus Jakarta Sans", sans-serif; }

.main {
  display: grid;
  grid-template-columns: 20% 80%;
  width: 100%;
  height: 100vh;
  background-color: yellow; }

.platform {
  height: inherit;
  background-color: #f4f7fd; }

.app {
  height: 100%; }

.board {
  flex-shrink: 0;
  width: 28rem;
  height: auto; }

.columns {
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  display: flex;
  gap: 2rem;
  overflow: scroll; }

.navbar {
  height: 8rem;
  width: 100%;
  background-color: #fff;
  padding: 3rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .navbar__title {
    font-size: 2rem;
    color: #000112;
    font-weight: bold; }
  .navbar__tasks {
    display: flex;
    align-items: center;
    gap: 0.75rem; }

.navigation {
  height: inherit;
  background-color: #fff;
  border-right: 2px solid rgba(99, 95, 199, 0.1); }
  .navigation .logo {
    padding: 2.75rem 3rem; }
  .navigation__body {
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: column; }
    .navigation__body .boards {
      margin-top: 1.5rem;
      width: 85%;
      display: flex;
      flex-direction: column; }
      .navigation__body .boards__title {
        font-size: 1rem;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        color: #828fa3;
        padding: 0 2.4rem;
        margin-bottom: 2rem; }
      .navigation__body .boards__icon {
        width: 1.8rem;
        height: 1.8rem; }
  .navigation__footer .theme {
    background-color: #f4f7fd;
    padding: 1.35rem 0;
    margin: 0 2rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem; }
    .navigation__footer .theme__icon {
      width: 1.65rem;
      height: 1.65rem; }
    .navigation__footer .theme__label {
      cursor: pointer; }
    .navigation__footer .theme__input {
      display: none; }
      .navigation__footer .theme__input:checked + .change-checkbox::after {
        left: 2.2rem; }
    .navigation__footer .theme .change-checkbox {
      width: 4rem;
      height: 2rem;
      border-radius: 2rem;
      background-color: #635fc7;
      position: relative;
      cursor: pointer;
      transition: all 0.25s ease; }
      .navigation__footer .theme .change-checkbox::after {
        content: "";
        position: absolute;
        top: 10%;
        left: 5%;
        height: 1.6rem;
        width: 1.6rem;
        border-radius: 50%;
        background-color: #fff;
        transition: all 0.25s ease; }
  .navigation__footer .hide-sidebar {
    width: 100%;
    margin: 3rem 2rem;
    color: #828fa3;
    display: flex;
    align-items: center;
    gap: 1.25rem; }
    .navigation__footer .hide-sidebar__icon {
      width: 1.6rem;
      height: 1.6rem; }
    .navigation__footer .hide-sidebar__btn {
      font-size: 1.4rem;
      background-color: transparent;
      border: none;
      color: inherit;
      cursor: pointer; }
