@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.C {
  line-height: 1;
  white-space: nowrap;
  border-left: 1px solid #ccc; }
  .C + .C {
    padding-top: 1rem; }
  .C:before {
    content: "";
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: unitSize(0.5);
    margin-left: -0.7rem;
    vertical-align: bottom;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 0 2.5px white; }

.Gradient {
  font-family: monospace;
  letter-spacing: 0.01em;
  display: flex;
  margin: 1rem;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.06);
  background: #fff;
  overflow: hidden; }
  .Gradient:before {
    content: "";
    display: block;
    width: 14rem; }

.Gradient-details {
  padding: unitSize(1.5) unitSize(2.5); }

.Gradient--1:before {
  background: linear-gradient(to right, #303395 0%, #27F0F0 100%); }

.Gradient--1 .C--1:before {
  background-color: #303395; }

.Gradient--1 .C--1:after {
  content: "#303395"; }

.Gradient--1 .C--2:before {
  background-color: #27F0F0; }

.Gradient--1 .C--2:after {
  content: "#27F0F0"; }

.Gradient--2:before {
  background: linear-gradient(to right, #F48731 0%, #D8E015 100%); }

.Gradient--2 .C--1:before {
  background-color: #F48731; }

.Gradient--2 .C--1:after {
  content: "#F48731"; }

.Gradient--2 .C--2:before {
  background-color: #D8E015; }

.Gradient--2 .C--2:after {
  content: "#D8E015"; }

.Gradient--3:before {
  background: linear-gradient(to right, #F298E7 0%, #A5F9F9 100%); }

.Gradient--3 .C--1:before {
  background-color: #F298E7; }

.Gradient--3 .C--1:after {
  content: "#F298E7"; }

.Gradient--3 .C--2:before {
  background-color: #A5F9F9; }

.Gradient--3 .C--2:after {
  content: "#A5F9F9"; }

.Gradient--4:before {
  background: linear-gradient(to right, #D20B54 0%, #FFB894 100%); }

.Gradient--4 .C--1:before {
  background-color: #D20B54; }

.Gradient--4 .C--1:after {
  content: "#D20B54"; }

.Gradient--4 .C--2:before {
  background-color: #FFB894; }

.Gradient--4 .C--2:after {
  content: "#FFB894"; }

.Gradient--5:before {
  background: linear-gradient(to right, #2D266F 0%, #7C2289 100%); }

.Gradient--5 .C--1:before {
  background-color: #2D266F; }

.Gradient--5 .C--1:after {
  content: "#2D266F"; }

.Gradient--5 .C--2:before {
  background-color: #7C2289; }

.Gradient--5 .C--2:after {
  content: "#7C2289"; }

.Gradient--6:before {
  background: linear-gradient(to right, #D481FF 0%, #05F1E1 100%); }

.Gradient--6 .C--1:before {
  background-color: #D481FF; }

.Gradient--6 .C--1:after {
  content: "#D481FF"; }

.Gradient--6 .C--2:before {
  background-color: #05F1E1; }

.Gradient--6 .C--2:after {
  content: "#05F1E1"; }

.Gradient--7:before {
  background: linear-gradient(to right, #05974A 0%, #F2E51E 100%); }

.Gradient--7 .C--1:before {
  background-color: #05974A; }

.Gradient--7 .C--1:after {
  content: "#05974A"; }

.Gradient--7 .C--2:before {
  background-color: #F2E51E; }

.Gradient--7 .C--2:after {
  content: "#F2E51E"; }

.Gradient--8:before {
  background: linear-gradient(to right, #009900 0%, #FFFF92 100%); }

.Gradient--8 .C--1:before {
  background-color: #009900; }

.Gradient--8 .C--1:after {
  content: "#009900"; }

.Gradient--8 .C--2:before {
  background-color: #FFFF92; }

.Gradient--8 .C--2:after {
  content: "#FFFF92"; }

.Gradient--9:before {
  background: linear-gradient(to right, #ED4443 0%, #EABC85 100%); }

.Gradient--9 .C--1:before {
  background-color: #ED4443; }

.Gradient--9 .C--1:after {
  content: "#ED4443"; }

.Gradient--9 .C--2:before {
  background-color: #EABC85; }

.Gradient--9 .C--2:after {
  content: "#EABC85"; }

.Gradient--10:before {
  background: linear-gradient(to right, #61258A 0%, #FD0F77 100%); }

.Gradient--10 .C--1:before {
  background-color: #61258A; }

.Gradient--10 .C--1:after {
  content: "#61258A"; }

.Gradient--10 .C--2:before {
  background-color: #FD0F77; }

.Gradient--10 .C--2:after {
  content: "#FD0F77"; }

.Gradient--11:before {
  background: linear-gradient(to right, #AB64F6 0%, #61DBF7 100%); }

.Gradient--11 .C--1:before {
  background-color: #AB64F6; }

.Gradient--11 .C--1:after {
  content: "#AB64F6"; }

.Gradient--11 .C--2:before {
  background-color: #61DBF7; }

.Gradient--11 .C--2:after {
  content: "#61DBF7"; }

.Gradient--12:before {
  background: linear-gradient(to right, #421057 0%, #F45509 100%); }

.Gradient--12 .C--1:before {
  background-color: #421057; }

.Gradient--12 .C--1:after {
  content: "#421057"; }

.Gradient--12 .C--2:before {
  background-color: #F45509; }

.Gradient--12 .C--2:after {
  content: "#F45509"; }

.Gradient--13:before {
  background: linear-gradient(to right, #EB121A 0%, #FAEB18 100%); }

.Gradient--13 .C--1:before {
  background-color: #EB121A; }

.Gradient--13 .C--1:after {
  content: "#EB121A"; }

.Gradient--13 .C--2:before {
  background-color: #FAEB18; }

.Gradient--13 .C--2:after {
  content: "#FAEB18"; }

.Gradient--14:before {
  background: linear-gradient(to right, #7A7A7A 0%, #E3E0E0 100%); }

.Gradient--14 .C--1:before {
  background-color: #7A7A7A; }

.Gradient--14 .C--1:after {
  content: "#7A7A7A"; }

.Gradient--14 .C--2:before {
  background-color: #E3E0E0; }

.Gradient--14 .C--2:after {
  content: "#E3E0E0"; }

.Gradient--15:before {
  background: linear-gradient(to right, #313131 0%, #534D4D 100%); }

.Gradient--15 .C--1:before {
  background-color: #313131; }

.Gradient--15 .C--1:after {
  content: "#313131"; }

.Gradient--15 .C--2:before {
  background-color: #534D4D; }

.Gradient--15 .C--2:after {
  content: "#534D4D"; }

.Gradient--16:before {
  background: linear-gradient(to right, #04A5C1 0%, #F9F981 100%); }

.Gradient--16 .C--1:before {
  background-color: #04A5C1; }

.Gradient--16 .C--1:after {
  content: "#04A5C1"; }

.Gradient--16 .C--2:before {
  background-color: #F9F981; }

.Gradient--16 .C--2:after {
  content: "#F9F981"; }

.Gradient--17:before {
  background: linear-gradient(to right, #00F298 0%, #07F7F7 100%); }

.Gradient--17 .C--1:before {
  background-color: #00F298; }

.Gradient--17 .C--1:after {
  content: "#00F298"; }

.Gradient--17 .C--2:before {
  background-color: #07F7F7; }

.Gradient--17 .C--2:after {
  content: "#07F7F7"; }

.Gradient--18:before {
  background: linear-gradient(to right, #CF396F 0%, #F7E28B 100%); }

.Gradient--18 .C--1:before {
  background-color: #CF396F; }

.Gradient--18 .C--1:after {
  content: "#CF396F"; }

.Gradient--18 .C--2:before {
  background-color: #F7E28B; }

.Gradient--18 .C--2:after {
  content: "#F7E28B"; }

.Gradient--19:before {
  background: linear-gradient(to right, #846EF4 0%, #F17674 100%); }

.Gradient--19 .C--1:before {
  background-color: #846EF4; }

.Gradient--19 .C--1:after {
  content: "#846EF4"; }

.Gradient--19 .C--2:before {
  background-color: #F17674; }

.Gradient--19 .C--2:after {
  content: "#F17674"; }

.Gradient--20:before {
  background: linear-gradient(to right, #90218C 0%, #009890 100%); }

.Gradient--20 .C--1:before {
  background-color: #90218C; }

.Gradient--20 .C--1:after {
  content: "#90218C"; }

.Gradient--20 .C--2:before {
  background-color: #009890; }

.Gradient--20 .C--2:after {
  content: "#009890"; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #777; }

:root {
  --c-gray-100: #fbf8f2;
  --c-gray-200: #fcfdfe;
  --c-gray-300: #e9ebec;
  --c-gray-400: #e3e4ea;
  --c-gray-500: #5f5f5f;
  --c-gray-900: #1d1d1d;
  --c-blue-300: #a8dee2;
  --c-blue-500: #2ab3c0;
  --c-green-500: #80b895;
  --c-green-300: #bad5ca;
  --c-red-500: #ea605e;
  --c-yellow-300: #f8e0b1;
  --c-yellow-500: #f9bc73;
  --rotation: -3deg; }

body {
  font-family: "Urbanist", sans-serif;
  line-height: 1;
  min-height: 100vh;
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-color: var(--c-gray-400); }

.phone-app {
  margin: auto;
  width: 37.5rem;
  height: auto;
  border-radius: 2.5rem;
  padding: 3.5rem;
  margin-top: 8rem;
  box-shadow: 0 0 0 0.8rem var(--c-gray-300), 0 0 0 0.9rem var(--c-gray-200);
  background-color: #fff;
  overflow: hidden; }

.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center; }
  .header__logo {
    width: 3.2rem;
    height: 3.2rem;
    background-color: var(--c-blue-300);
    border: 1px solid var(--c-gray-900);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .header__logo .logo-inner {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      flex-wrap: wrap; }
      .header__logo .logo-inner span {
        width: 0.75rem;
        height: 0.75rem;
        background-color: var(--c-yellow-500);
        display: flex;
        border: 1px solid var(--c-gray-900);
        border-radius: 50%; }

.title {
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--c-gray-900);
  text-align: center; }

.profile {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem; }
  .profile__icon-group {
    display: flex;
    align-items: center;
    position: relative;
    transition: transform 0.2s ease;
    cursor: pointer; }
    .profile__icon-group .icon {
      width: 2.2rem;
      height: 2.2rem;
      color: var(--c-gray-500); }
    .profile__icon-group .circle {
      position: absolute;
      top: -0.2rem;
      right: -0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1.35rem;
      height: 1.35rem;
      border: 1px solid var(--c-gray-900);
      border-radius: 50%;
      background-color: var(--c-red-500);
      font-size: 0.85rem;
      font-weight: 800;
      color: var(--c-gray-900); }
    .profile__icon-group:hover {
      transform: rotate(10deg) scale(0.9); }
  .profile__photo img {
    width: 3.2rem;
    height: 3.2rem;
    background-size: cover;
    border-radius: 1rem;
    border: 2px solid var(--c-gray-200);
    box-shadow: 0 0.5rem 0.6rem -0.15rem rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
    cursor: pointer; }
    .profile__photo img:hover {
      transform: translateY(-0.35rem);
      box-shadow: 0 0.75rem 1rem -0.25rem rgba(0, 0, 0, 0.3); }

.app-text {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem; }
  .app-text__title {
    font-size: 1.8rem;
    color: var(--c-gray-900);
    margin-top: 1.5rem; }
  .app-text__subtitle {
    font-size: 1.2rem; }

.lookup {
  width: 100%;
  margin-top: 2.5rem;
  position: relative;
  z-index: 1; }
  .lookup__inner {
    width: inherit;
    height: 4rem;
    background-color: #fff;
    border: 1px solid var(--c-gray-900);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    transition: transform 0.25s ease; }
  .lookup__button {
    height: 100%;
    padding: 0 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-gray-100);
    border: none;
    border-right: 1px solid var(--c-gray-900);
    outline: none;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.25s ease; }
    .lookup__button:hover, .lookup__button:focus {
      background-color: var(--c-yellow-500); }
  .lookup__icon {
    width: 1.8rem;
    height: 1.8rem; }
  .lookup__input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 1.25rem;
    font-size: 1.2rem; }
    .lookup__input::placeholder {
      font-family: inherit;
      font-size: 1.2rem;
      color: var(--c-gray-800);
      font-weight: 500; }
  .lookup:hover .lookup__inner {
    transform: translateY(-0.25rem); }
  .lookup:hover .lookup__input::placeholder {
    color: var(--c-gray-500); }

.hidden-element {
  display: block;
  width: 95%;
  height: 100%;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid var(--c-gray-900);
  border-radius: 1.5rem;
  z-index: -1; }
  .hidden-element--input {
    background-color: var(--c-gray-100); }
  .hidden-element--card--1 {
    background-color: var(--c-yellow-300); }
  .hidden-element--card--2 {
    background-color: var(--c-blue-300); }
  .hidden-element--song {
    background-color: var(--c-green-500); }
  .hidden-element--navbar {
    background-color: var(--c-gray-100); }

.links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.3rem;
  margin-top: 2.5rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--c-gray-900); }

.link {
  transition: all 0.3s ease; }
  .link:link, .link:visited {
    text-decoration: none;
    color: var(--c-gray-900);
    font-weight: 500;
    font-size: 1.4rem;
    display: inline-block;
    padding: 0.5rem;
    position: relative; }
  .link__span-link {
    position: relative;
    z-index: 1;
    display: block; }
    .link__span-link--active {
      font-weight: 800; }
  .link__shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    background-color: transparent;
    transition: all 0.3s ease; }
    .link__shadow--active {
      height: 45%;
      background-color: var(--c-yellow-500); }
  .link:hover .link__shadow {
    background-color: var(--c-yellow-500);
    height: 45%; }
  .link:focus .link__shadow {
    height: 100%; }
  .link:focus {
    font-weight: 800;
    transition: all 0.25s ease; }

.playlists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  margin: 5rem 1rem; }

.card {
  position: relative;
  z-index: 1;
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease; }
  .card--1:hover {
    transform: translateY(0.25rem) rotate(-5deg); }
  .card--2:hover {
    transform: rotate(5deg) translateY(1.75rem); }
  .card:hover .hanger--card--1 {
    top: -2.25rem;
    left: 50%;
    transform: translateX(-50%) rotate(5deg); }
  .card:hover .hanger--card--2 {
    left: 2rem;
    top: -2.25rem;
    transform: rotate(-5.5deg); }
  .card:hover .hanger .hanger__tube {
    height: 4.5rem; }
  .card--1 {
    transform: rotate(-5deg); }
  .card--2 {
    transform: rotate(5deg) translateY(1.5rem); }
  .card__inner {
    padding: 1rem;
    padding-bottom: 1.5rem;
    border: 1px solid var(--c-gray-900);
    border-radius: 1.5rem;
    background-color: var(--c-gray-200);
    position: relative;
    transition: all 0.2s ease; }
    .card__inner:hover {
      background-color: var(--c-gray-100); }
  .card__img img {
    display: block;
    width: 100%;
    height: 8.5rem;
    border-radius: 1.5rem;
    object-fit: cover; }
  .card__text-group {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem; }
    .card__text-group div {
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .card__text-group .icon-wrap {
      width: 2rem;
      height: 2rem;
      background-color: var(--c-gray-900);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%; }
  .card__icon {
    width: 1rem;
    height: 1rem;
    color: #fff; }

.app-text--secondary {
  display: block;
  font-size: 1.2rem;
  color: var(--c-gray-500); }

.app-text--main {
  font-size: 1.4rem;
  color: var(--c-gray-900);
  font-weight: 600; }

.hanger {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease; }
  .hanger__round--top {
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: var(--c-gray-900);
    border-radius: 50%; }
  .hanger__tube {
    height: 4.25rem;
    width: 0.5rem;
    background-color: var(--c-gray-300);
    border-radius: 1rem;
    border: 1px solid var(--c-gray-900);
    margin: -0.7rem 0 -0.65rem 0;
    z-index: 10;
    transition: all 0.2s ease; }
  .hanger__round--bottom {
    width: 0.9rem;
    height: 0.9rem;
    background-color: var(--c-gray-900);
    border-radius: 50%;
    box-shadow: 0 0 0 2px var(--c-gray-200), 0 0 0 3px var(--c-gray-900); }
  .hanger--card--1 {
    left: 50%;
    top: -2rem;
    transform: translateX(-50%) rotate(5deg); }
  .hanger--card--2 {
    left: 2rem;
    top: -2rem;
    transform: rotate(-5.5deg); }
  .hanger--song-top {
    top: -2.25rem;
    left: -0.75rem;
    transform: rotate(-45deg); }
  .hanger--song-bottom {
    bottom: -2rem;
    right: -0.75rem;
    transform: rotate(-55deg); }

.song {
  position: relative;
  z-index: 1;
  transform: rotate(5deg);
  margin-bottom: 2rem; }
  .song__inner {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--c-gray-200);
    padding: 1.75rem;
    border-radius: 1.25rem;
    border: 1px solid var(--c-gray-900);
    display: flex;
    align-items: center;
    cursor: pointer; }
    .song__inner:hover {
      background-color: var(--c-gray-100); }
  .song .hanger__tube {
    height: 3.75rem; }
  .song .hanger__round--bottom {
    box-shadow: none;
    width: 1rem;
    height: 1rem; }
  .song__img {
    flex-shrink: 0; }
    .song__img img {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem; }
  .song__content {
    flex: 1;
    margin-left: 1rem; }
    .song__content--top {
      margin-bottom: 0.5rem; }
    .song__content--bottom {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .song__content--bottom p {
        font-size: 1.6rem;
        font-weight: 400; }
      .song__content--bottom span {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--c-gray-500); }

.navigation {
  position: relative;
  z-index: 1;
  margin-top: 5rem; }

.navbar {
  width: 100%;
  height: auto;
  border-radius: 1.5rem;
  border: 1px solid var(--c-gray-900);
  padding: 1rem;
  background-color: var(--c-blue-500);
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .navbar a:link,
  .navbar a:visited {
    padding: 1rem 2rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    text-decoration: none; }
    .navbar a:link:hover, .navbar a:link:focus,
    .navbar a:visited:hover,
    .navbar a:visited:focus {
      background-color: var(--c-yellow-500);
      border: 1px solid var(--c-gray-900);
      border-radius: 1rem; }
      .navbar a:link:hover .navbar__icon, .navbar a:link:focus .navbar__icon,
      .navbar a:visited:hover .navbar__icon,
      .navbar a:visited:focus .navbar__icon {
        color: var(--c-gray-900); }
  .navbar__icon {
    width: 2rem;
    height: 2rem;
    color: var(--c-gray-200); }
