// @import url(../sass/base/_base.scss);

@import "abstract/mixins";

@import "base/base";
@import "base/typography";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  outline: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

:root {
  --body-font: "Inter", sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: #8081913d;
  --video-bg: #252936;
  --delay: 0s;
}

body {
  font-family: var(--body-font);
  color: var(--body-color);
  background-image: url("https://images.unsplash.com/photo-1445251836269-d158eaa028a6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1951&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  max-width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  height: 90%;
  background-color: #1f1d2b;

  display: flex;

  border-radius: 2.25rem;
}

.navbar {
  flex: 0 0 20%;
  // background-color: blue;
  padding: 4rem 2.5rem;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #353340 #1f1d2b;

  &__logo {
    margin-bottom: 4rem;

    span {
      display: block;
      color: #fff;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__links {
    & > span {
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    &--1 {
      padding-bottom: 4rem;
      border-bottom: 1px solid #5a5a66;
    }

    &--2 {
      margin-top: 4rem;
      border-bottom: none;
    }
  }

  &__list {
    // background-color: red;
    list-style: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 1.35rem;
    cursor: pointer;

    a {
      text-decoration: none;
    }

    //Navbar link hover effects
    &:hover a {
      color: #fff;
    }

    &:hover .navbar__icon-box {
      &--1 {
        background-color: #ff7551;
      }
      &--2 {
        background-color: #32a7e2;
      }
      &--3 {
        background-color: #997766;
      }
      &--4 {
        background-color: #6c5ecf;
      }
    }

    &:hover .navbar__icon-box .icon {
      color: #fff;
    }
  }

  &__icon-box {
    padding: 0.75rem 0.85rem;
    background-color: var(--button-bg);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
}

.text-secondary {
  font-weight: 500;
  color: var(--body-color);
  letter-spacing: 0.5px;
  font-size: 1.4rem;
}

.main {
  flex: 1;
  // background-color: yellowgreen;
}
