// @import url(../sass/base/_base.scss);

@import "abstract/mixins";

@import "base/base";
@import "base/typography";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  outline: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

:root {
  --body-font: "Inter", sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: #8081913d;
  --video-bg: #252936;
  --delay: 0s;
}

body {
  font-family: var(--body-font);
  color: var(--body-color);
  background-image: url("https://images.unsplash.com/photo-1445251836269-d158eaa028a6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1951&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  max-width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  height: 90%;
  background-color: #1f1d2b;

  display: flex;

  border-radius: 2.25rem;
}

.navbar {
  flex-basis: 22.5rem;
  // background-color: blue;
  padding: 4rem 2.5rem;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #353340 #1f1d2b;

  &__logo {
    margin-bottom: 4rem;

    span {
      display: block;
      color: #fff;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__links {
    & > span {
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    &--1 {
      padding-bottom: 4rem;
      border-bottom: 1px solid #5a5a66;
    }

    &--2 {
      margin-top: 4rem;
      border-bottom: none;
    }
  }

  &__list {
    // background-color: red;
    list-style: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 1.35rem;
    cursor: pointer;

    a {
      text-decoration: none;
    }

    //Navbar link hover effects
    &:hover a {
      color: #fff;
    }

    &:hover .navbar__icon-box {
      &--1 {
        background-color: #ff7551;
      }
      &--2 {
        background-color: #32a7e2;
      }
      &--3 {
        background-color: #997766;
      }
      &--4 {
        background-color: #6c5ecf;
      }
    }

    &:hover .navbar__icon-box .icon {
      color: #fff;
    }
  }

  &__icon-box {
    padding: 0.75rem 0.85rem;
    background-color: var(--button-bg);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//Supporting classes
.icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #a6a7b2;
}

.text-secondary {
  font-weight: 500;
  color: #a6a7b2;
  letter-spacing: 0.5px;
  font-size: 1.4rem;
}

.main {
  flex: 1;
  // background-color: yellowgreen;
  padding: 3.5rem 2.5rem;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;

  &__search {
    width: 50%;
  }

  &__input {
    width: 100%;
    display: block;
    padding: 0.75rem 1rem;
    background: #302e3a;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    color: #aeadb3;
    font-family: inherit;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__img {
    width: 4rem;
    height: 4rem;

    img {
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &__name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    span {
      color: #fff;
    }

    .icon {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
  .icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  .circle {
    position: relative;
    padding: 0.25rem;
  }

  .circle::after {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%;
    background-color: #ff4d4d;
    position: absolute;
    top: 0.15rem;
    right: 0.55rem;
    box-shadow: 0 0 0 0.1rem #1f1d2b;
  }
}

//Main body part
.box {
  max-width: 100%;

  &__title {
    margin-top: 2rem;
    color: #fff;
    font-size: 1.6;
    font-weight: 500;
  }
}

.banners {
  display: flex;
  gap: 2rem;
  margin-top: 3.5rem;

  & > * {
    border-radius: 2rem;
  }

  &__left {
    flex: 1 1 55%;
    background-image: url("https://assets.codepen.io/3364143/skate-removebg-preview.png");
    background-position: 140%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: #32a7e2;
  }
  &__right {
    background-image: url("https://c0.anyrgb.com/images/1020/945/venice-beach-2018-outdoors-sport-men-jumping-desert-sunset-extreme-sports-one-person-action.jpg");
    background-size: 139%;
    flex: 1 1 30%;
    filter: saturate(1.4);
  }

  &__author {
    display: flex;
    margin-top: 5rem;

    &--1 {
      gap: 1rem;
    }

    &--2 {
      flex-direction: column;
      gap: 1.5rem;

      .info__title {
        margin-bottom: 1rem;
      }
    }

    img {
      width: 4.5rem;
      height: 4.5rem;
      // box-shadow: 0 0 0 0.35rem #32a7e2, 0 0 0 0.4rem #fff;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.75);
      //instead of adding box-shadow on an img, some padding will do it
      padding: 0.4rem;
    }

    .info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 0.5rem;

      &__title {
        color: #fff;
      }

      p:last-child {
        color: #fff;
        font-size: 1.2rem;
      }
    }
  }

  &__img {
    position: relative;
    width: 5rem;

    span {
      width: 1.5rem;
      height: 1.5rem;
      background-color: #fff;
      position: absolute;
      bottom: 0.1rem;
      right: 0.45rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.25rem;
      border-radius: 50%;
    }

    .icon-box {
      bottom: 0.25rem;
      right: 0.55rem;

      &--1 {
        box-shadow: 0 0 0 0.25rem #32a7e2;
      }

      &--2 {
        box-shadow: 0 0 0 0.25rem #fff3d0;
      }
    }

    .icon {
      color: #32a7e2;
      width: 1.35rem;
      height: 1.35rem;
    }
  }
}

.bn {
  height: 30rem;
  padding: 2.5rem;

  .text {
    color: #fff;
    width: 17rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2;
  }
}
