// @import url(../sass/base/_base.scss);

@import "abstract/mixins";

@import "base/base";
@import "base/typography";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  outline: none;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
}

:root {
  --body-font: "Inter", sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: #8081913d;
  --video-bg: #252936;
  --delay: 0s;
}

body {
  font-family: var(--body-font);
  color: var(--body-color);
  background-image: url("https://images.unsplash.com/photo-1445251836269-d158eaa028a6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1951&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  max-width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  height: 90%;
  background-color: #1f1d2b;

  display: flex;

  border-radius: 2.25rem;
}

.navbar {
  flex-basis: 22.5rem;
  // background-color: blue;
  padding: 4rem 2.5rem;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #353340 #1f1d2b;

  &__logo {
    margin-bottom: 4rem;

    span {
      display: block;
      color: #fff;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__links {
    & > span {
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    &--1 {
      padding-bottom: 4rem;
      border-bottom: 1px solid #5a5a66;
    }

    &--2 {
      margin-top: 4rem;
      border-bottom: none;
    }
  }

  &__list {
    // background-color: red;
    list-style: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__list-item {
    display: flex;
    align-items: center;
    gap: 1.35rem;
    cursor: pointer;

    a {
      text-decoration: none;
    }

    //Navbar link hover effects
    &:hover a {
      color: #fff;
    }

    &:hover .navbar__icon-box {
      &--1 {
        background-color: #ff7551;
      }
      &--2 {
        background-color: #32a7e2;
      }
      &--3 {
        background-color: #997766;
      }
      &--4 {
        background-color: #6c5ecf;
      }
    }

    &:hover .navbar__icon-box .icon {
      color: #fff;
    }
  }

  &__icon-box {
    padding: 0.75rem 0.85rem;
    background-color: var(--button-bg);
    border-radius: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//Supporting classes
.icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #a6a7b2;
}

.text-secondary {
  font-weight: 500;
  color: #a6a7b2;
  letter-spacing: 0.5px;
  font-size: 1.4rem;
}

.main {
  flex: 1;
  padding: 0 3.5rem 3.5rem 3.5rem;
  overflow: scroll;
  position: relative;
  width: 100%;
}

.top {
  width: inherit;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 3rem 0 2rem 0;
  background: linear-gradient(
    to bottom,
    #1f1d2b 0%,
    #1f1d2b 92%,
    rgba(31, 29, 43, 0) 100%
  );

  &-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
  }

  &__search {
    width: 50%;
    display: flex;
    align-items: center;

    .icon {
      margin-left: -2.5rem;
      line-height: 1;
      padding: 0;
      cursor: pointer;
    }
  }

  &__input {
    width: 100%;
    display: block;
    padding: 0.75rem 1rem;
    background: #302e3a;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    color: #fff;
    font-family: inherit;
  }
}

.profile {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__img {
    width: 4rem;
    height: 4rem;

    img {
      border-radius: 50%;
      cursor: pointer;
    }
  }
  &__name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    span {
      color: #fff;
    }

    .icon {
      width: 1.8rem;
      height: 1.8rem;
    }
  }
  .icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  .circle {
    position: relative;
    padding: 0.25rem;
  }

  .circle::after {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%;
    background-color: #ff4d4d;
    position: absolute;
    top: 0.15rem;
    right: 0.55rem;
    box-shadow: 0 0 0 0.1rem #1f1d2b;
  }
}

//Main body part
.box {
  max-width: 100%;
  margin-top: -2.5rem;

  &__title {
    margin-top: 2rem;
    color: #fff;
    font-size: 1.6;
    font-weight: 500;

    transform: translateY(10rem);
    animation: moveUp ease-in-out 0.65s;
    animation-fill-mode: forwards;
    opacity: 0;

    &-ani-2 {
      animation-delay: 0.15s;
    }

    &--sticky {
      position: sticky;
      top: 8rem;
      margin-top: 1rem;
      padding-top: 2rem;
      z-index: 10;
      // padding-bottom: 1.5rem;
    }
  }
}

.banners {
  display: flex;
  gap: 2rem;
  margin-top: 3.5rem;

  & > * {
    border-radius: 2rem;
  }

  &__left,
  &__right {
    transform: translateY(10rem);
    animation: moveUp ease-in-out 0.65s;
    animation-fill-mode: forwards;
    opacity: 0;
  }

  &__left {
    flex: 1 1 55%;
    background-image: url("https://assets.codepen.io/3364143/skate-removebg-preview.png");
    background-position: 140%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: #32a7e2;
    position: relative;

    animation-delay: 0.1s;
  }
  &__right {
    background-image: url("https://c0.anyrgb.com/images/1020/945/venice-beach-2018-outdoors-sport-men-jumping-desert-sunset-extreme-sports-one-person-action.jpg");
    background-size: 139%;
    flex: 1 1 30%;
    filter: saturate(1.4);
    position: relative;

    animation-delay: 0.15s;
  }

  &__author {
    display: flex;
    margin-top: 5rem;

    &--1 {
      gap: 1rem;
    }

    &--2 {
      flex-direction: column;
      gap: 1.5rem;

      .info__title {
        margin-bottom: 1rem;
      }
    }

    img {
      width: 4.5rem;
      height: 4.5rem;
      // box-shadow: 0 0 0 0.35rem #32a7e2, 0 0 0 0.4rem #fff;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.75);
      //instead of adding box-shadow on an img, some padding will do it
      padding: 0.4rem;
    }

    .info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 0.5rem;

      &__title {
        color: #fff;
      }

      p:last-child {
        color: #fff;
        font-size: 1.2rem;
      }
    }
  }

  &__img {
    position: relative;
    width: 5rem;

    span {
      width: 1.5rem;
      height: 1.5rem;
      background-color: #fff;
      position: absolute;
      bottom: 0.1rem;
      right: 0.45rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.25rem;
      border-radius: 50%;
    }

    .icon-box {
      bottom: 0.25rem;
      right: 0.55rem;

      &--1 {
        box-shadow: 0 0 0 0.25rem #32a7e2;
      }

      &--2 {
        box-shadow: 0 0 0 0.25rem #fff3d0;
      }
    }

    .icon {
      color: #32a7e2;
      width: 1.35rem;
      height: 1.35rem;
    }
  }

  &__time {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: rgba(37, 41, 54, 0.6);
    padding: 0.45rem 0.8rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.5rem;
  }
}

.bn {
  height: 30rem;
  padding: 2.5rem;

  .text {
    color: #fff;
    width: 17rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2;
  }
}

.videos-section {
  margin-top: 3rem;

  .box__title {
    font-size: 2.2rem;
    letter-spacing: 0.5px;
  }
}

.videos {
  width: 100%;
  // background-color: yellowgreen;
  margin-top: 2.5rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;

  &__card {
    background-color: hsl(249, 19%, 20%);
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;

    transform: translateY(10rem);
    animation: moveUp ease-in-out 0.75s;
    animation-fill-mode: forwards;
    opacity: 0;

    &:hover .videos__wrapper {
      transform: scale(1.5);
    }
    &:hover .videos__content p:first-child {
      opacity: 0;
    }
    &:hover .videos__info {
      right: 18%;
      bottom: -8.5%;
    }
    &:hover .videos__info img {
      width: 2.5rem;
      height: 2.5rem;
      padding: 0.2rem;
      border-color: rgba(255, 255, 255, 0.5);
    }

    &:hover .videos__info .icon-box {
      transform: scale(0.4);
      right: -0.35rem;
      bottom: 0;
    }

    &:hover .videos__time {
      opacity: 0;
    }
  }

  &__wrapper {
    position: relative;
    transition: all 0.4s;

    video {
      width: 100%;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      cursor: pointer;
    }
  }

  &__info {
    position: absolute;
    right: 10%;
    bottom: -17.5%;
    transition: all 0.4s;

    img {
      padding: 0.4rem;
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      border: 1px solid #fff;
      transition: all 0.4s;
    }

    .icon-box {
      background-color: #32a7e2;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 0;
      bottom: 0.25rem;
      box-shadow: 0 0 0 0.25rem hsl(249, 19%, 20%);
      transition: all 0.4s;

      .icon {
        color: #fff;
        width: 1rem;
        height: 1rem;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;

    p:first-child {
      transition: all 0.25s;
    }

    &-text--1 {
      color: #fff;
      line-height: 1.5;
      font-weight: 600;
    }
    &-text--2 {
      font-size: 1.2rem;
    }
  }

  &__time {
    background-color: rgba(37, 41, 54, 0.6);
    padding: 0.45rem 0.8rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.5rem;
    position: absolute;
    right: 1.25rem;
    top: 1rem;
    font-size: 1.2rem;
    transition: all 0.2s;
  }
}

.title-dot {
  color: lightgreen;

  &--2 {
    color: lightcoral;
  }
}

@keyframes moveUp {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
