*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #777; }

.movie-card-section {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #0e4674;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem; }

.movie-card--img {
  position: relative;
  overflow: hidden; }
  .movie-card--img .img {
    height: 55rem;
    width: 38rem; }
  .movie-card--img .social-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.2rem 2rem;
    position: absolute;
    top: 0;
    left: 0; }
    .movie-card--img .social-box .dates span {
      color: #fff;
      font-size: 1.2rem;
      font-weight: 300; }
    .movie-card--img .social-box .icons {
      display: flex;
      align-items: center;
      gap: 1rem;
      cursor: pointer; }
      .movie-card--img .social-box .icons .icon {
        color: #fff;
        font-size: 1.8rem; }
      .movie-card--img .social-box .icons .icon--n-18 {
        position: relative; }
      .movie-card--img .social-box .icons .icon--n-18::after {
        content: "18";
        font-size: 1rem;
        color: #fff;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: 0;
        transition: all 0.3s ease-in-out; }
      .movie-card--img .social-box .icons .icon--n-3 {
        position: relative; }
      .movie-card--img .social-box .icons .icon--n-3::after {
        content: "3";
        opacity: 0;
        font-size: 1rem;
        color: #fff;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        transition: all 0.3s ease-in-out; }

.movie-card--date {
  height: 15%;
  width: 15%;
  background-color: #77d7b9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; }
  .movie-card--date span:first-child {
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.4);
    margin-bottom: 0.2rem; }
  .movie-card--date span {
    display: table;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300; }

.movie-card--text-box {
  width: 100%;
  height: auto;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(35%);
  transition: all 0.3s ease-in-out; }
  .movie-card--text-box .links {
    width: 100%;
    height: auto;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .movie-card--text-box .links .author {
      font-size: 1.2rem; }
    .movie-card--text-box .links .dots span {
      display: inline-block;
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
      background-color: #777; }
      .movie-card--text-box .links .dots span:not(:last-child) {
        margin-right: 0.5rem; }
  .movie-card--text-box .text-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem; }
    .movie-card--text-box .text-box h1 a:link,
    .movie-card--text-box .text-box h1 a:visited {
      text-decoration: none;
      color: rgba(119, 119, 119, 0.9);
      font-weight: 300;
      font-size: 3rem;
      letter-spacing: 1.1px;
      line-height: 1.4; }
    .movie-card--text-box .text-box .h1--card2 {
      position: relative;
      color: #fff; }
      .movie-card--text-box .text-box .h1--card2 a:link,
      .movie-card--text-box .text-box .h1--card2 a:visited {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
        font-size: 3rem;
        letter-spacing: 1.1px;
        line-height: 1.4; }
      .movie-card--text-box .text-box .h1--card2 .author {
        position: absolute;
        top: -20%;
        font-size: 1.2rem;
        font-weight: 300; }
    .movie-card--text-box .text-box p {
      opacity: 1;
      font-size: 1.6rem;
      font-weight: 300;
      line-height: 1.3;
      color: #000;
      margin-bottom: 2rem; }
    .movie-card--text-box .text-box .p2 {
      color: #fff; }

.movie-card--text-box2 {
  background-color: transparent;
  width: 95%;
  transform: translateY(45%);
  transition: all 0.3s ease-in-out; }
  .movie-card--text-box2 .last-link {
    color: #fff;
    margin-top: -2.4rem;
    margin-bottom: 2rem;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.4rem; }
    .movie-card--text-box2 .last-link span {
      margin-left: 1rem;
      opacity: 0;
      transition: all 0.3s ease-in-out; }

.movie-card--img:hover .movie-card--text-box {
  transform: translateY(0);
  transition: all 0.3s ease-in-out; }

.movie-card--img2:hover .movie-card--text-box {
  transform: translateY(0);
  transition: all 0.3s ease-in-out; }

.movie-card--text-box2 .last-link:hover span {
  opacity: 1;
  transition: all 0.3s ease-in-out; }

.movie-card--img:hover .icons .icon--n-18::after,
.movie-card--img:hover .icons .icon--n-3::after {
  opacity: 1;
  transform: translate(-50%, 2rem);
  transition: all 0.3s ease-in-out; }
