@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #eee; }

* {
  outline: none;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%; }

:root {
  --body-font: "Inter", sans-serif;
  --theme-bg: #1f1d2b;
  --body-color: #808191;
  --button-bg: #353340;
  --border-color: #8081913d;
  --video-bg: #252936;
  --delay: 0s; }

body {
  font-family: var(--body-font);
  color: var(--body-color);
  background-image: url("https://images.unsplash.com/photo-1445251836269-d158eaa028a6?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1951&q=80");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.container {
  width: 80%;
  height: 90%;
  background-color: #1f1d2b;
  display: flex;
  border-radius: 2.25rem; }

.navbar {
  flex-basis: 22.5rem;
  padding: 4rem 2.5rem;
  overflow: scroll;
  scrollbar-width: thin;
  scrollbar-color: #353340 #1f1d2b; }
  .navbar__logo {
    margin-bottom: 4rem; }
    .navbar__logo span {
      display: block;
      color: #fff;
      font-size: 2rem;
      font-weight: 700; }
  .navbar__links > span {
    text-transform: uppercase;
    font-size: 1.2rem; }
  .navbar__links--1 {
    padding-bottom: 4rem;
    border-bottom: 1px solid #5a5a66; }
  .navbar__links--2 {
    margin-top: 4rem;
    border-bottom: none; }
  .navbar__list {
    list-style: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem; }
  .navbar__list-item {
    display: flex;
    align-items: center;
    gap: 1.35rem;
    cursor: pointer; }
    .navbar__list-item a {
      text-decoration: none; }
    .navbar__list-item:hover a {
      color: #fff; }
    .navbar__list-item:hover .navbar__icon-box--1 {
      background-color: #ff7551; }
    .navbar__list-item:hover .navbar__icon-box--2 {
      background-color: #32a7e2; }
    .navbar__list-item:hover .navbar__icon-box--3 {
      background-color: #997766; }
    .navbar__list-item:hover .navbar__icon-box--4 {
      background-color: #6c5ecf; }
    .navbar__list-item:hover .navbar__icon-box .icon {
      color: #fff; }
  .navbar__icon-box {
    padding: 0.75rem 0.85rem;
    background-color: var(--button-bg);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }

.icon {
  width: 1.6rem;
  height: 1.6rem;
  color: #a6a7b2; }

.text-secondary {
  font-weight: 500;
  color: #a6a7b2;
  letter-spacing: 0.5px;
  font-size: 1.4rem; }

.main {
  flex: 1;
  padding: 3.5rem 2.5rem; }

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit; }
  .top__search {
    width: 50%; }
  .top__input {
    width: 100%;
    display: block;
    padding: 0.75rem 1rem;
    background: #302e3a;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    color: #aeadb3;
    font-family: inherit; }

.profile {
  display: flex;
  align-items: center;
  gap: 2rem; }
  .profile__img {
    width: 4rem;
    height: 4rem; }
    .profile__img img {
      border-radius: 50%;
      cursor: pointer; }
  .profile__name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer; }
    .profile__name span {
      color: #fff; }
    .profile__name .icon {
      width: 1.8rem;
      height: 1.8rem; }
  .profile .icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer; }
  .profile .circle {
    position: relative;
    padding: 0.25rem; }
  .profile .circle::after {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    border-radius: 50%;
    background-color: #ff4d4d;
    position: absolute;
    top: 0.15rem;
    right: 0.55rem;
    box-shadow: 0 0 0 0.1rem #1f1d2b; }

.box {
  max-width: 100%; }
  .box__title {
    margin-top: 2rem;
    color: #fff;
    font-size: 1.6;
    font-weight: 500; }

.banners {
  display: flex;
  gap: 2rem;
  margin-top: 3.5rem; }
  .banners > * {
    border-radius: 2rem; }
  .banners__left {
    flex: 1 1 55%;
    background-image: url("https://assets.codepen.io/3364143/skate-removebg-preview.png");
    background-position: 140%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: #32a7e2; }
  .banners__right {
    background-image: url("https://c0.anyrgb.com/images/1020/945/venice-beach-2018-outdoors-sport-men-jumping-desert-sunset-extreme-sports-one-person-action.jpg");
    background-size: 139%;
    flex: 1 1 30%;
    filter: saturate(1.4); }
  .banners__author {
    display: flex;
    margin-top: 5rem; }
    .banners__author--1 {
      gap: 1rem; }
    .banners__author--2 {
      flex-direction: column;
      gap: 1.5rem; }
      .banners__author--2 .info__title {
        margin-bottom: 1rem; }
    .banners__author img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.75);
      padding: 0.4rem; }
    .banners__author .info {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      padding: 0.5rem; }
      .banners__author .info__title {
        color: #fff; }
      .banners__author .info p:last-child {
        color: #fff;
        font-size: 1.2rem; }
  .banners__img {
    position: relative;
    width: 5rem; }
    .banners__img span {
      width: 1.5rem;
      height: 1.5rem;
      background-color: #fff;
      position: absolute;
      bottom: 0.1rem;
      right: 0.45rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.25rem;
      border-radius: 50%; }
    .banners__img .icon-box {
      bottom: 0.25rem;
      right: 0.55rem; }
      .banners__img .icon-box--1 {
        box-shadow: 0 0 0 0.25rem #32a7e2; }
      .banners__img .icon-box--2 {
        box-shadow: 0 0 0 0.25rem #fff3d0; }
    .banners__img .icon {
      color: #32a7e2;
      width: 1.35rem;
      height: 1.35rem; }

.bn {
  height: 30rem;
  padding: 2.5rem; }
  .bn .text {
    color: #fff;
    width: 17rem;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 1.2; }
