*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #777; }

.section-form {
  max-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(to top, #c39bd3, #dba368); }

.form {
  width: 35rem;
  height: auto;
  background-color: #fff;
  padding: 2rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .form-2, .form-3 {
    opacity: 0;
    visibility: hidden;
    pointer-events: none; }
  .form__title {
    font-weight: 300;
    font-size: 1.5rem;
    color: #000; }
  .form__text {
    margin-top: 1rem;
    font-size: 1.3rem; }
  .form__input, .form__textarea {
    width: 100%;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.7);
    display: block;
    padding: 1.4rem 2rem;
    margin-top: 1rem;
    outline: none;
    border: 1px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-radius: 3px; }
    .form__input::placeholder, .form__textarea::placeholder {
      font-weight: 300;
      color: #555;
      font-size: 1.3rem; }
    .form__input:focus, .form__textarea:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 2px solid #55c57a; }
    .form__input:focus:invalid, .form__textarea:focus:invalid {
      border-bottom: 2px solid #ff7730; }
  .form__textarea {
    resize: none; }
  .form__links {
    margin-top: 2rem;
    display: flex;
    gap: 1.2rem; }
    .form__links--link:link, .form__links--link:visited {
      font-size: 1.4rem;
      font-weight: 400;
      color: #fff;
      text-decoration: none;
      background-color: #55c57a;
      padding: 1rem 2rem;
      display: inline-block;
      border-radius: 2px;
      cursor: pointer; }
    .form__links--link:hover, .form__links--link:active {
      box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
      cursor: pointer; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-bottom-small {
  margin-bottom: 3rem; }
