// @import url(../sass/base/_base.scss);

@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/header";
@import "layout/grid";
@import "layout/grid--floats";

@import "pages/home";

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 5rem;
  height: 5rem;
  // background-color: aquamarine;
  border-radius: 50%;
  animation: imgs 2s ease-in-out infinite alternate;
  background-size: cover;
}

@keyframes imgs {
  0% {
    background-image: url(../img/people/ben.jpg);
  }

  50% {
    background-image: url(../img/people/dave.jpg);
  }

  100% {
    background-image: url(../img/people/hannah.jpg);
  }
}