// @import url(../sass/base/_base.scss);

@import "abstract/mixins";

@import "base/base";
@import "base/typography";

body {
  min-height: 100vh;
  line-height: 1;
}

.container {
  width: 70%;
  background-color: yellowgreen;
  padding: 2.5rem;

  margin: 10rem auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 5rem;
  row-gap: 1.5rem;

  .btn-style {
    padding: 1rem 4rem;
    background: brown;
    border: 1px solid orange;
    text-transform: uppercase;
    border-radius: 0.75rem;
    font-weight: 800;
    color: #fff;
    cursor: pointer;
    margin-top: 1.5rem;
  }
}

.box {
  display: flex;
  flex-direction: column;
  color: #000;

  .style {
    margin-bottom: 0.5rem;
  }

  .input {
  }

  & > * {
    flex-basis: 25%;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 10px 20px;
  border: 1px solid #000;
}
