*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #eee; }

body {
  min-height: 100vh;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center; }

.main {
  width: 50%;
  height: 55rem;
  background-color: #030380;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem; }

.top {
  height: 45%;
  width: 70%;
  background-color: orange; }
  .top button {
    width: 85%;
    padding: 1rem;
    font-size: 1.8rem;
    background-color: darkcyan;
    border: 1px solid #26b8b8;
    border-radius: 1rem;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer; }

.middle {
  height: 25%;
  width: 70%;
  background-color: orange; }
  .middle input {
    padding: 0.45rem 1rem;
    outline: none;
    border-radius: 1rem;
    border: 1px solid #000;
    font-size: 1.4rem; }

.bottom {
  height: 20%;
  width: 70%;
  background-color: orange; }

.top,
.middle,
.bottom {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column; }

span {
  display: block;
  font-size: 1.8rem;
  color: black; }

.attempts-total {
  display: inline; }
