*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #777; }

body {
  background-color: #fff9db; }

.section-cards {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40rem;
  background-color: #fff9db;
  border-radius: 3rem;
  display: flex;
  margin-left: 70rem; }

.card {
  width: 30rem;
  height: inherit;
  border-radius: inherit;
  box-shadow: -1rem -1rem 5rem -0.3rem rgba(0, 0, 0, 0.1), -1rem 0 2rem -1.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background-color: #fff;
  backface-visibility: hidden;
  z-index: -1; }
  .card:not(:first-child) {
    margin-left: -8rem; }
  .card:hover {
    transform: translateY(-5rem); }
  .card:hover + .card {
    transform: translateX(8rem); }
