*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #777; }

body {
  position: relative;
  min-height: 100vh; }

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 1.5rem;
  font-size: 2.4rem;
  background-color: yellow;
  border: none;
  border-radius: 10rem;
  transition: all 1s ease;
  width: 20rem;
  height: 5rem;
  overflow: hidden; }

span {
  width: 20rem;
  display: inline-block;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1.4px; }

.span1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-35rem, -50%);
  color: blue;
  transition: all .3s ease; }

.span2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: green;
  transition: all .3s ease; }

button:hover .span2 {
  transform: translate(25rem, -50%); }

button:hover .span1 {
  transform: translate(-50%, -50%); }
