// @import url(../sass/base/_base.scss);

@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";
@import "abstract/_gradients";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/header";
@import "layout/grid";
@import "layout/grid--floats";

@import "pages/home";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #f2f5f7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  background-color: #05043e;
  border-radius: 1rem;
  box-shadow: 0 10px 50px 0 rgba(#05043e, 0.25);
}

.list {
  list-style: none;

  &--2 {
    margin-top: 7rem;
    padding-top: 2rem;
    border-top: 1px solid  #363664;
  }

  &__item {
    padding: 1rem;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    .icon {
      width: 2.4rem;
      height: 2.4rem;
      color: #fff;
    }

    span {
      display: block;
      padding: 1rem;
      color: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%) scale(0);
      left: 2rem;
      background-color: #30305a;
      border-radius: 0.5rem;
      transition: all 0.3s;

      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        position: absolute;
        left: -0.4rem;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        background-color: #30305a;
        border-radius: 0.2rem;
      }
    }
  }

  &__item:hover {
    background-color: #30305a;
  }

  &__item:hover span {
    transform: translateY(-50%) scale(1);
    left: calc(100% + 3rem);
  }
}
