// @import url(../sass/base/_base.scss);

@import "abstract/mixins";

@import "base/base";
@import "base/typography";

body {
  max-width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf0f1;
  color: black;
}

.card {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  overflow: hidden;
  width: 35rem;

  .header-img {
    height: 20rem;
    display: block;

    img {
      max-width: 100%;
      height: 20rem;
    }
  }

  &-content {
    background-color: #fff;
    padding: 3rem;
  }

  &-excerpt {
    color: #777;
    margin: 1rem 0 2rem;
    line-height: 1.5;
  }

  &-title {
    letter-spacing: -0.65px;
    margin-top: 2rem;
  }
}

.author {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .profile-img {
    border-radius: 50%;
    overflow: hidden;
    width: 4rem;
    height: 4rem;

    img {
      max-width: 100%;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 0.65rem;

    small {
      margin-top: 0.5rem;
      color: #aaa;
      width: 10rem;
    }
  }
}

.animated-bg {
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 10%,
    #f6f7f8 20%,
    #f6f7f8 100%
  );
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;

  &-text {
    border-radius: 5rem;
    display: inline-block;
    height: 1rem;
    width: 100%;
  }
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
