@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.Wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.C {
  line-height: 1;
  white-space: nowrap;
  border-left: 1px solid #ccc; }
  .C + .C {
    padding-top: 1rem; }
  .C:before {
    content: "";
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: unitSize(0.5);
    margin-left: -0.7rem;
    vertical-align: bottom;
    border-radius: 50%;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 0 2.5px white; }

.Gradient {
  font-family: monospace;
  letter-spacing: 0.01em;
  display: flex;
  margin: 1rem;
  border-radius: 6px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.06);
  background: #fff;
  overflow: hidden; }
  .Gradient:before {
    content: "";
    display: block;
    width: 14rem; }

.Gradient-details {
  padding: unitSize(1.5) unitSize(2.5); }

.Gradient--1:before {
  background: linear-gradient(to right, #303395 0%, #27F0F0 100%); }

.Gradient--1 .C--1:before {
  background-color: #303395; }

.Gradient--1 .C--1:after {
  content: "#303395"; }

.Gradient--1 .C--2:before {
  background-color: #27F0F0; }

.Gradient--1 .C--2:after {
  content: "#27F0F0"; }

.Gradient--2:before {
  background: linear-gradient(to right, #F48731 0%, #D8E015 100%); }

.Gradient--2 .C--1:before {
  background-color: #F48731; }

.Gradient--2 .C--1:after {
  content: "#F48731"; }

.Gradient--2 .C--2:before {
  background-color: #D8E015; }

.Gradient--2 .C--2:after {
  content: "#D8E015"; }

.Gradient--3:before {
  background: linear-gradient(to right, #F298E7 0%, #A5F9F9 100%); }

.Gradient--3 .C--1:before {
  background-color: #F298E7; }

.Gradient--3 .C--1:after {
  content: "#F298E7"; }

.Gradient--3 .C--2:before {
  background-color: #A5F9F9; }

.Gradient--3 .C--2:after {
  content: "#A5F9F9"; }

.Gradient--4:before {
  background: linear-gradient(to right, #D20B54 0%, #FFB894 100%); }

.Gradient--4 .C--1:before {
  background-color: #D20B54; }

.Gradient--4 .C--1:after {
  content: "#D20B54"; }

.Gradient--4 .C--2:before {
  background-color: #FFB894; }

.Gradient--4 .C--2:after {
  content: "#FFB894"; }

.Gradient--5:before {
  background: linear-gradient(to right, #2D266F 0%, #7C2289 100%); }

.Gradient--5 .C--1:before {
  background-color: #2D266F; }

.Gradient--5 .C--1:after {
  content: "#2D266F"; }

.Gradient--5 .C--2:before {
  background-color: #7C2289; }

.Gradient--5 .C--2:after {
  content: "#7C2289"; }

.Gradient--6:before {
  background: linear-gradient(to right, #D481FF 0%, #05F1E1 100%); }

.Gradient--6 .C--1:before {
  background-color: #D481FF; }

.Gradient--6 .C--1:after {
  content: "#D481FF"; }

.Gradient--6 .C--2:before {
  background-color: #05F1E1; }

.Gradient--6 .C--2:after {
  content: "#05F1E1"; }

.Gradient--7:before {
  background: linear-gradient(to right, #05974A 0%, #F2E51E 100%); }

.Gradient--7 .C--1:before {
  background-color: #05974A; }

.Gradient--7 .C--1:after {
  content: "#05974A"; }

.Gradient--7 .C--2:before {
  background-color: #F2E51E; }

.Gradient--7 .C--2:after {
  content: "#F2E51E"; }

.Gradient--8:before {
  background: linear-gradient(to right, #009900 0%, #FFFF92 100%); }

.Gradient--8 .C--1:before {
  background-color: #009900; }

.Gradient--8 .C--1:after {
  content: "#009900"; }

.Gradient--8 .C--2:before {
  background-color: #FFFF92; }

.Gradient--8 .C--2:after {
  content: "#FFFF92"; }

.Gradient--9:before {
  background: linear-gradient(to right, #ED4443 0%, #EABC85 100%); }

.Gradient--9 .C--1:before {
  background-color: #ED4443; }

.Gradient--9 .C--1:after {
  content: "#ED4443"; }

.Gradient--9 .C--2:before {
  background-color: #EABC85; }

.Gradient--9 .C--2:after {
  content: "#EABC85"; }

.Gradient--10:before {
  background: linear-gradient(to right, #61258A 0%, #FD0F77 100%); }

.Gradient--10 .C--1:before {
  background-color: #61258A; }

.Gradient--10 .C--1:after {
  content: "#61258A"; }

.Gradient--10 .C--2:before {
  background-color: #FD0F77; }

.Gradient--10 .C--2:after {
  content: "#FD0F77"; }

.Gradient--11:before {
  background: linear-gradient(to right, #AB64F6 0%, #61DBF7 100%); }

.Gradient--11 .C--1:before {
  background-color: #AB64F6; }

.Gradient--11 .C--1:after {
  content: "#AB64F6"; }

.Gradient--11 .C--2:before {
  background-color: #61DBF7; }

.Gradient--11 .C--2:after {
  content: "#61DBF7"; }

.Gradient--12:before {
  background: linear-gradient(to right, #421057 0%, #F45509 100%); }

.Gradient--12 .C--1:before {
  background-color: #421057; }

.Gradient--12 .C--1:after {
  content: "#421057"; }

.Gradient--12 .C--2:before {
  background-color: #F45509; }

.Gradient--12 .C--2:after {
  content: "#F45509"; }

.Gradient--13:before {
  background: linear-gradient(to right, #EB121A 0%, #FAEB18 100%); }

.Gradient--13 .C--1:before {
  background-color: #EB121A; }

.Gradient--13 .C--1:after {
  content: "#EB121A"; }

.Gradient--13 .C--2:before {
  background-color: #FAEB18; }

.Gradient--13 .C--2:after {
  content: "#FAEB18"; }

.Gradient--14:before {
  background: linear-gradient(to right, #7A7A7A 0%, #E3E0E0 100%); }

.Gradient--14 .C--1:before {
  background-color: #7A7A7A; }

.Gradient--14 .C--1:after {
  content: "#7A7A7A"; }

.Gradient--14 .C--2:before {
  background-color: #E3E0E0; }

.Gradient--14 .C--2:after {
  content: "#E3E0E0"; }

.Gradient--15:before {
  background: linear-gradient(to right, #313131 0%, #534D4D 100%); }

.Gradient--15 .C--1:before {
  background-color: #313131; }

.Gradient--15 .C--1:after {
  content: "#313131"; }

.Gradient--15 .C--2:before {
  background-color: #534D4D; }

.Gradient--15 .C--2:after {
  content: "#534D4D"; }

.Gradient--16:before {
  background: linear-gradient(to right, #04A5C1 0%, #F9F981 100%); }

.Gradient--16 .C--1:before {
  background-color: #04A5C1; }

.Gradient--16 .C--1:after {
  content: "#04A5C1"; }

.Gradient--16 .C--2:before {
  background-color: #F9F981; }

.Gradient--16 .C--2:after {
  content: "#F9F981"; }

.Gradient--17:before {
  background: linear-gradient(to right, #00F298 0%, #07F7F7 100%); }

.Gradient--17 .C--1:before {
  background-color: #00F298; }

.Gradient--17 .C--1:after {
  content: "#00F298"; }

.Gradient--17 .C--2:before {
  background-color: #07F7F7; }

.Gradient--17 .C--2:after {
  content: "#07F7F7"; }

.Gradient--18:before {
  background: linear-gradient(to right, #CF396F 0%, #F7E28B 100%); }

.Gradient--18 .C--1:before {
  background-color: #CF396F; }

.Gradient--18 .C--1:after {
  content: "#CF396F"; }

.Gradient--18 .C--2:before {
  background-color: #F7E28B; }

.Gradient--18 .C--2:after {
  content: "#F7E28B"; }

.Gradient--19:before {
  background: linear-gradient(to right, #846EF4 0%, #F17674 100%); }

.Gradient--19 .C--1:before {
  background-color: #846EF4; }

.Gradient--19 .C--1:after {
  content: "#846EF4"; }

.Gradient--19 .C--2:before {
  background-color: #F17674; }

.Gradient--19 .C--2:after {
  content: "#F17674"; }

.Gradient--20:before {
  background: linear-gradient(to right, #90218C 0%, #009890 100%); }

.Gradient--20 .C--1:before {
  background-color: #90218C; }

.Gradient--20 .C--1:after {
  content: "#90218C"; }

.Gradient--20 .C--2:before {
  background-color: #009890; }

.Gradient--20 .C--2:after {
  content: "#009890"; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #777; }

:root {
  --c-gray-900: #000000;
  --c-gray-800: #1f1f1f;
  --c-gray-700: #2e2e2e;
  --c-gray-600: #313131;
  --c-gray-500: #969593;
  --c-gray-400: #a6a6a6;
  --c-gray-300: #bdbbb7;
  --c-gray-200: #f1f1f1;
  --c-gray-100: #ffffff;
  --c-green-500: #45ffbc;
  --c-olive-500: #e3ffa8;
  --c-white: var(--c-gray-100);
  --c-text-primary: var(--c-gray-100);
  --c-text-secondary: var(--c-gray-200);
  --c-text-tertiary: var(--c-gray-500); }

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: var(--c-gray-900);
  color: var(--c-text-primary);
  padding-top: 3vw;
  padding-bottom: 3vw;
  justify-content: center;
  background-color: #1f1f1f; }

.dashboard {
  background-color: #1f1f1f;
  width: 100%;
  max-width: 160rem;
  padding: 2vw 4vw 4vw;
  display: flex;
  flex-direction: column; }

.navigation {
  display: grid;
  grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(max-content, 400px);
  align-items: flex-end;
  column-gap: 6rem;
  width: 95%; }

.logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 1.6rem 0;
  border-bottom: 1px solid var(--c-gray-600);
  cursor: pointer; }
  .logo-icon {
    width: 3.2rem;
    height: 3.2rem; }
  .logo-title {
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: 300; }
    .logo-title span:first-child {
      color: var(--c-text-primary); }
    .logo-title span:not(:first-child) {
      color: var(--c-text-tertiary); }

.header-navigation {
  border-bottom: 1px solid var(--c-gray-600);
  display: flex;
  justify-content: space-between; }
  .header-navigation a:link,
  .header-navigation a:visited {
    text-decoration: none;
    color: var(--c-text-tertiary);
    padding: 1.6rem 0.35rem;
    border: 1px solid transparent;
    transition: border 0.25s ease-in-out;
    display: inline-block; }
  .header-navigation a:link:nth-child(2) {
    border-top: 2px solid var(--c-gray-200); }
  .header-navigation a:hover,
  .header-navigation a:active {
    border: 1px solid var(--c-gray-200); }

.header-activity {
  display: flex; }
  .header-activity__author {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 0.5rem;
    border: 1px solid transparent;
    transition: border 0.25s ease-in-out; }
    .header-activity__author:hover {
      border: 1px solid var(--c-gray-200); }
    .header-activity__author span:first-child {
      font-size: 1.8rem;
      color: var(--c-text-tertiary);
      font-weight: 300;
      padding: 1.6rem 0;
      border-bottom: 1px solid var(--c-gray-600);
      display: flex; }
    .header-activity__author span:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1.5rem; }
      .header-activity__author span:last-child img {
        width: 4.2rem;
        height: 4.2rem;
        border-radius: 50%; }
  .header-activity__icons {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 4rem;
    padding-left: 4rem;
    border-left: 1px solid var(--c-gray-600); }
    .header-activity__icons .icon {
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer; }
      .header-activity__icons .icon-button {
        width: 4.2rem;
        height: 4.2rem;
        border: 1px solid var(--c-gray-500);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: box-shadow 0.2s ease-in-out; }
        .header-activity__icons .icon-button:hover {
          box-shadow: 0 0 0 5px var(--c-gray-800), 0 0 0 6px var(--c-gray-500); }

.app {
  width: inherit;
  display: grid;
  grid-template-columns: minmax(min-content, 175px) minmax(max-content, 1fr) minmax(max-content, 400px);
  column-gap: 6rem;
  margin-top: 5rem; }

.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem; }
  .navbar__link:link, .navbar__link:visited {
    text-decoration: none;
    color: var(--c-text-tertiary);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.35rem 0.25rem;
    border: 2px solid transparent;
    transition: all 0.2s ease-in; }
  .navbar__link:hover, .navbar__link:active {
    transform: translateX(0.75rem);
    color: var(--c-text-primary); }
  .navbar__link:focus {
    border: 2px solid var(--c-gray-200);
    transform: translateX(0.75rem);
    color: var(--c-text-primary); }
  .navbar__icon {
    width: 1.8rem;
    height: 1.8rem; }

.body {
  margin-top: 0.35rem; }

.title {
  font-size: 2.2rem;
  font-weight: 400; }

.app-form {
  display: flex;
  gap: 2rem;
  margin-top: 2.5rem; }
  .app-form__button {
    flex: 0 0 16%;
    background-color: var(--c-gray-700);
    border: none;
    outline: none;
    border-radius: 1rem;
    color: var(--c-text-primary);
    font-size: 1.6rem;
    font-family: "Be Vietnam Pro", sans-serif;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border .2s ease; }
    .app-form__button:hover {
      border: 2px solid var(--c-gray-300); }

.account-search {
  flex: 1;
  display: flex;
  align-items: flex-start;
  border: 2px solid transparent;
  border-bottom: 1px solid var(--c-gray-600); }
  .account-search__icon {
    width: 1.8rem;
    height: 1.8rem;
    padding-top: 1rem;
    align-self: flex-end;
    padding-bottom: 1.25rem;
    cursor: pointer; }
  .account-search__input-search {
    background-color: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-size: 1.6rem;
    padding: 1rem 1.25rem;
    color: var(--c-gray-300);
    cursor: pointer; }
    .account-search__input-search::placeholder {
      font-size: 1.6rem;
      font-family: "Be Vietnam Pro", sans-serif;
      padding-left: 0.25rem; }

.dropdown-field {
  flex: 0 0 25%; }
  .dropdown-field select {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--c-gray-600);
    background-color: transparent;
    font-size: 1.6rem;
    color: var(--c-gray-300); }
    .dropdown-field select option {
      color: var(--c-text-tertiary); }
