// @import url(../sass/base/_base.scss);

@import "abstract/mixins";

@import "base/base";
@import "base/typography";

body {
  min-height: 100vh;
  max-width: 100vw;
  line-height: 1;
  background-color: pink;
}

.main {
  width: 70%;
  height: 60rem;
  background-color: yellow;
}
