*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #777; }

.mail {
  max-width: 85vw;
  height: 55rem;
  background-color: #fff;
  margin: 5rem auto;
  display: flex; }

.navbar {
  width: 17%;
  height: 100%;
  background-color: #212529; }
  .navbar--btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 3rem; }
  .navbar--menu {
    list-style: none; }
    .navbar--menu li {
      font-size: 1.8rem;
      padding: 1.2rem 4rem;
      color: #bbb;
      transition: all 0.1s ease; }
    .navbar--menu li:nth-child(1) {
      background-color: #eee;
      color: #000; }
    .navbar--menu li:hover {
      background-color: #eee;
      color: #000;
      transition: all 0.1s ease; }

.grid {
  width: 83%;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.mail__inbox {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 2.5rem; }
  .mail__inbox .search {
    display: flex;
    justify-content: space-between; }
    .mail__inbox .search--title {
      font-size: 2.2rem;
      color: #000;
      font-weight: 500; }
    .mail__inbox .search--search {
      width: 40%;
      font-size: 1.8rem;
      outline: none;
      border: #aaa 3px solid;
      border-radius: 0.6rem;
      padding-left: 0.25rem; }
  .mail__inbox .activity {
    border-bottom: 2px solid #adb5bd;
    padding: 1rem 0 0 0;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    position: relative;
    margin-top: 3rem; }
    .mail__inbox .activity--sort {
      font-size: 1.4rem;
      color: #adb5bd;
      font-weight: 400;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      transition: all .2s ease; }
      .mail__inbox .activity--sort:hover {
        border-bottom: 2px solid #000;
        color: #000;
        transition: all .2s ease; }
    .mail__inbox .activity--recent {
      position: absolute;
      top: -1.4rem;
      right: 10rem; }
    .mail__inbox .activity--abc {
      position: absolute;
      top: -1.4rem;
      right: 0; }
  .mail__inbox .logs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 2rem; }
    .mail__inbox .logs--style {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      font-size: 1.3rem;
      color: #adb5bd;
      position: relative; }
    .mail__inbox .logs--time {
      text-align: right; }
    .mail__inbox .logs--relation {
      padding: .5rem .6rem;
      border-radius: 4px;
      color: #fff;
      margin-right: .5rem; }
      .mail__inbox .logs--relation-1 {
        background-color: #74c0fc; }
      .mail__inbox .logs--relation-2 {
        background-color: #8ce99a; }
      .mail__inbox .logs--relation-3 {
        background-color: #ffe066; }

.mail__compose {
  background-color: #fff;
  padding: 3rem 2.5rem; }
  .mail__compose--title {
    font-size: 4rem;
    font-weight: 400;
    color: #000; }
  .mail__compose--author {
    margin-top: 1.6rem;
    font-weight: 400;
    font-size: 1.3rem;
    color: #000; }
  .mail__compose--text {
    font-size: 1.8rem;
    color: #adb5bd;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-top: 4rem; }
  .mail__compose--textarea {
    margin-top: 4rem;
    resize: none;
    border: 2px solid #aaa;
    border-radius: 1rem; }

.btn {
  display: block;
  border: none;
  font-size: 1.6rem;
  padding: 0.75rem 3rem;
  border-radius: 5px;
  background-color: rgba(240, 62, 62, 0.8);
  color: #eee;
  font-weight: 500; }
  .btn:hover {
    background-color: #f03e3e; }
  .btn-flex {
    display: flex;
    justify-content: end;
    margin-top: 3rem; }

body {
  background-color: #dee2e6; }
