*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777; }

.header {
  max-width: 100vw;
  height: 13.5rem;
  background-color: #136596;
  padding: 0 10rem;
  display: flex;
  justify-content: space-between; }
  .header__logo-box {
    display: flex;
    gap: 1rem; }
    .header__logo-box .logo {
      height: 6rem;
      width: auto;
      margin-bottom: 3rem;
      align-self: flex-end; }
  .header__right-side {
    display: flex;
    align-items: flex-end;
    gap: 2.4rem; }

.header__navigation {
  align-self: flex-end; }

.nav {
  display: flex; }
  .nav-item {
    list-style: none;
    height: 13.5rem;
    display: flex; }
    .nav-item:not(:last-child) {
      margin-right: 1rem; }
  .nav-link:link, .nav-link:visited {
    display: inline-block;
    font-size: 1.7rem;
    line-height: 1.7;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
    color: #fff;
    text-decoration: none;
    align-self: flex-end;
    padding: 1rem 1rem; }

.btn-link:link,
.btn-link:visited {
  display: inline-block;
  font-size: 1.7rem;
  line-height: 1.7;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
  text-decoration: none;
  align-self: flex-end;
  margin-bottom: 2rem;
  background-color: #e44c9a;
  padding: 1rem 2rem;
  position: relative;
  z-index: 20; }
  .btn-link:link::before,
  .btn-link:visited::before {
    content: "Apply now";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, #ffe552 0, #e44c9a 70%);
    transition: opacity 0.3s ease-in;
    opacity: 0; }

.btn-link:hover::before {
  opacity: 1; }

.social {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1rem;
  margin-bottom: 2.4rem; }
  .social--icon {
    font-size: 1.9rem;
    color: #fff; }
