*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #777; }

body {
  height: 100vh;
  width: 100%;
  background-color: #ddd; }

.codepen-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 1.5rem;
  width: 100rem;
  height: 60rem;
  background-color: red;
  margin: 10rem auto;
  position: relative; }

.codepen__card {
  width: auto;
  height: 30rem;
  position: relative; }
  .codepen__card--1 {
    width: 100%;
    height: inherit;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: yellow;
    border-radius: 1rem;
    transition: all .2s ease; }

.codepen__background {
  position: absolute;
  background-color: #fff;
  width: 30rem;
  height: 20rem;
  border-radius: 1rem;
  right: 2.3333rem;
  bottom: 10rem;
  transition: all .2s ease; }

.codepen__card:hover > .codepen__card--1 {
  width: calc(100% + 2.3333rem);
  height: 32rem; }

.codepen__card:hover .codepen__background {
  right: 2.3333rem; }
