// @import url(../sass/base/_base.scss);

@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/header";
@import "layout/grid";
@import "layout/grid--floats";

@import "pages/home";

body {
  background: linear-gradient(to bottom, #4678f3, #64d6ee);
  max-width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.option-row {
  width: 40rem;
  height: 15rem;

  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  gap: 1rem;
}

.radio-button {
  background-color: rgba($color-black, 0.2);
  background-color: $color-white;
  padding: 3rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: flex-end;
  position: relative;
  opacity: 0.5;
  cursor: pointer;
  transition: all 1s ease;

  &__input {
    display: none;
  }

  &__btn {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #64d6ee;
    border-radius: 50%;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: #64d6ee;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      opacity: 0;
      transition: all 0.5s ease;
    }
  }

  &__number-group {
    color: $color-black;
    // background-color: blueviolet;
    width: 100%;
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      height: 0.5rem;
      width: 20%;
      position: absolute;
      bottom: -1rem;
      left: 0;
      background-color: aqua;
      transition: all 0.5s ease;
    }
  }

  &__number {
    font-size: 4.8rem;
    font-weight: 700;
    display: inline-block;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
  }

  &__size {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all 0.3s ease;
  }

  // BUILDING FUNCTIONALITY BELOW
  &__input:checked + & {
    flex-grow: 4;
    opacity: 1;

    .radio-button__btn::after {
      opacity: 1;
    }

    .radio-button__number-group::after {
      width: 100%;
    }

    .radio-button__number {
      font-size: 6.8rem;
    }

    .radio-button__size {
      font-size: 2.6rem;
    }
  }
}
