*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1;
  color: #777; }

body {
  background-color: #0a1e25;
  min-height: 100vh;
  color: #fff; }

.form {
  margin: 20rem auto;
  width: 65rem;
  position: relative; }
  .form__label {
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: 1.2px;
    color: #ddd;
    text-transform: uppercase;
    position: absolute;
    top: 2rem;
    pointer-events: none;
    transition: all 0.3s ease-in-out; }
  .form__input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    padding: 1.5rem 0;
    outline: none;
    font-size: 2rem;
    font-weight: 300; }
  .form__input:focus + .form__label,
  .form__input:not(:placeholder-shown) + .form__label {
    top: -0.5rem;
    font-size: 1.2rem;
    color: lightgreen; }
  .form__textarea-group {
    position: relative; }
  .form__label-textarea {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.2px;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
    position: absolute;
    top: 7.2rem;
    left: 3rem;
    width: 90%;
    transition: all .3s ease-in-out; }
  .form__textarea {
    width: 100%;
    padding: 2.5rem 3rem;
    letter-spacing: none;
    outline: none;
    background-color: transparent;
    border: 1px solid #fff;
    margin-top: 5rem;
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: -1px; }
  .form__textarea:focus + .form__label-textarea,
  .form__textarea:not(:placeholder-shown) + .form__label-textarea {
    opacity: 0; }
