// @import url(../sass/base/_base.scss);

@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";

@import "layout/header";
@import "layout/grid";
@import "layout/grid--floats";

@import "pages/home";

body {
  min-height: 100vh;
  max-width: 100vw;
}

body > div {
  display: flex;
  width: 70rem;
  margin: 20rem auto;
  overflow: hidden;
}

label {
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  cursor: pointer;
  position: relative;
  width: calc(100% / 4);
}

input[type="radio"] {
  display: none;
}

.input {
  &:checked ~ .circle {
    animation: active 4s linear forwards;
    transform: translate(-50%, -50%);
  }
  &--1:checked ~ .circle {
    background-color: purple;
  }
  &--2:checked ~ .circle {
    background-color: red;
  }
  &--3:checked ~ .circle {
    background-color: lightblue;

  }
  &--4:checked ~ .circle {
    background-color: pink;
  }
}

a {
  z-index: 20;
}

.circle {
  @include centerDiv;

  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: block;
  transform: translate(-50%, -50%) scale(0);
  z-index: 10;
}

.icon {
  font-size: 2.4rem;
  color: $color-white;
  z-index: 20;
}

@keyframes active {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(130);
  }
}
